@import '../../../styles/variables';
@import '../../../styles/mixins';

$block: '.#{$ns}meta-info';

#{$block} {
    @include text-size(body-2);

    display: flex;
    align-items: center;

    &__item {
        @include add-specificity(&) {
            &:not(:first-child) {
                margin-left: $indentXS;
            }
        }
    }
}
