@import '../../../../../styles/mixins.scss';
@import '../../../../../styles/variables.scss';

$block: '.#{$namespace}feed-custom-switcher';

#{$block} {
    $root: &;

    $controlsBorderRadius: 10px;

    &__custom-switcher {
        @include text-size(body-2);
        position: relative;

        display: flex;
        flex-direction: row;
        align-items: center;
        background-color: var(--yc-color-base-background);
        border: 1px solid var(--yc-color-base-background);
        border-radius: $controlsBorderRadius;
        width: 100%;
        line-height: 42px;

        // TODO delete this section after Select can customize the popup list
        & + .yc-popup-wrapper.yc-popup-wrapper_open {
            //stylelint-disable-next-line declaration-no-important
            position: absolute !important;
            //stylelint-disable-next-line declaration-no-important
            inset: auto !important;
            //stylelint-disable-next-line declaration-no-important
            transform: translate3d(0, 4px, 0) !important;
        }
    }

    &__custom-switcher:hover {
        border-color: var(--yc-color-base-generic-hover);
        cursor: pointer;
    }

    &__custom-switcher-element {
        &_content {
            display: inline-block;
            flex-grow: 1;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            padding: 0 $indentXXS;
        }

        &_counter {
            align-items: center;
            height: $indentS;
            padding: 0 6px;
            background-color: var(--yc-color-base-selection);
            border-radius: 4px;

            transition: backgound-color 0.1s linear;

            @include text-size(body-1);
        }

        &_arrow {
            display: flex;
            align-items: center;
            justify-content: center;
            min-width: 30px;
            height: 100%;
        }
    }

    &__switcher-arrow {
        width: $indentXS;
        height: $indentXS;
    }
}
