@import '../../../styles/variables.scss';

$block: '.#{$ns}oneof-custom';

#{$block} {
    display: flex;
    flex-direction: column;

    &:last-child {
        & > .#{$ns}group-indent {
            margin-bottom: 0;
        }
    }

    &_base {
        .#{$ns}group-indent {
            all: unset;

            & > .#{$ns}use-search {
                padding-top: 11px;
                padding-left: 24px; //$normalOffset;
                margin-top: 4px;
                margin-bottom: 20px;
                margin-left: 5px;
                border-left: 1px solid var(--yc-color-line-generic-accent);

                &:empty {
                    display: none;
                }

                &:last-child {
                    margin-bottom: 0;
                }

                & > .#{$ns}simple-vertical-accordeon_view {
                    margin-top: -10px;
                }
            }
        }
    }

    &_flat {
        & > .#{$ns}group-indent {
            margin: 0;
            border-left: none;
            padding: 0;

            & > .#{$ns}use-search {
                margin-top: 15px;

                &:empty {
                    display: none;
                }
            }
        }
    }
}
