@import '../../../styles/mixins';
@import '../../../styles/variables';

$block: '.#{$ns}SliderNewBlock';
$fsPadding: 40px;
$fsArrowArea: 120px;

@mixin fullscreen-card() {
    @media (max-width: map-get($gridBreakpoints, 'sm')) {
        &:not(&_one-slide) {
            margin-left: 0;
            padding-left: 0;
            width: 100%;
            overflow: inherit;
        }
    }
}

$dotsCn: '.swiper-container-horizontal .swiper-pagination-bullets';

$dotSize: 8px;

#{$block} {
    $root: &;
    position: relative;

    &__slider {
        @include add-specificity(&) {
            padding: $indentSM 0 $indentL;
            margin: 0 -#{$gridGutter};
        }
    }

    &_without-dots {
        #{$root}__slider {
            padding-bottom: $indentS;
        }
    }

    &__slide.swiper-slide {
        padding: 0 #{$gridGutter};
        box-sizing: border-box;
        height: auto;

        @keyframes safari-fix {
            from {
                transform: translateX(0.001px);
            }
            to {
                transform: translateX(0);
            }
        }

        // fix text under video in safari
        &.swiper-slide-visible {
            animation: safari-fix 300ms;
        }
    }

    &__arrow {
        position: absolute;
        top: -2px;
        right: 0;
        z-index: 2;

        &_prev {
            right: $sliderArrowSize;
            margin-right: $indentXS;
        }
    }

    &__header {
        &_no-description {
            position: relative;
            top: -3px;
        }
    }

    &__dot {
        width: $dotSize;
        height: $dotSize;

        border-radius: 50%;
        background-color: var(--g-color-line-generic-accent);
        cursor: pointer;
        display: inline-block;

        &:hover {
            background-color: var(--g-color-line-generic-accent-hover);
        }

        & + & {
            margin-left: $indentXS;
        }

        &_active {
            opacity: 1;
            background-color: var(--g-color-line-generic-active);
        }
    }

    &_only-arrows {
        padding-top: $sliderArrowSize;
    }

    &__footer {
        display: flex;
        position: relative;

        #{$root}__disclaimer {
            position: absolute;
            top: 0;
            left: 0;
            color: var(--g-color-text-secondary);

            &_size {
                &_l {
                    @include text-size(header-1);
                }

                &_m {
                    @include text-size(body-2);
                }

                &_s {
                    @include text-size(body-1);
                }
            }
        }
    }

    &__animate-slides {
        @include animate-slides(#{$root}__slide);
        @include animate-slides(#{$root}__dot);
    }

    &_type_media-card {
        @include fullscreen-card();

        padding: 0;

        & #{$dotsCn} {
            bottom: $indentSM;
        }

        #{$root}__slider {
            padding: 0;
        }

        &:hover {
            #{$root}__arrow {
                display: flex;
            }
        }

        #{$root}__arrow {
            display: none;
            width: 64px;
            top: 50%;
            transform: translate(0, -50%);

            &_prev {
                left: 0;
                margin-right: 0;
            }
        }

        @media (max-width: map-get($gridBreakpoints, 'md')) {
            &:hover {
                #{$root}__arrow {
                    display: none;
                }
            }
        }
    }

    &_type_header-card {
        @include fullscreen-card();
        $arrowWidth: 68px;
        $arrowHeight: 68px;

        padding-top: 0;

        #{$root}__wrapper {
            position: relative;
        }

        & #{$dotsCn} {
            bottom: $indentM;
        }

        #{$root}__slider {
            padding: 0;
            margin: 0;
        }

        #{$root}__arrow {
            top: 50%;
            transform: translateY(-50%);
            width: $arrowWidth;
            height: $arrowHeight;

            right: 0;

            &_prev {
                left: 0;
                margin-right: 0;
            }

            button {
                background-color: transparent;
                box-shadow: none;

                &:hover {
                    box-shadow: none;
                }
            }

            &:hover {
                & button {
                    box-shadow: none;
                }
            }
        }

        #{$root}__slide {
            padding: 0;
        }

        @media (max-width: map-get($gridBreakpoints, 'sm')) {
            #{$root}__arrow {
                display: none;
            }

            &#{$root}:not(&_one-slide) {
                #{$root}__slider {
                    margin-left: 0;
                }

                #{$root}__slide {
                    // to remove the indentation between slides
                    padding-right: 0;
                    padding-left: 0;

                    &:last-child {
                        padding-right: 0;
                    }
                }
            }
        }
    }

    &_type_fullscreen-card {
        padding-top: 0;

        #{$root}__slider {
            padding: $fsPadding 0;
            height: 100vh;

            & .swiper-pagination {
                bottom: ($fsPadding - 18px) / 2;
            }

            #{$root}__dot {
                background-color: var(--g-color-text-light-hint);

                &_active {
                    background-color: var(--g-color-text-light-primary);
                }
            }

            #{$root}__slide {
                height: 100%;
                padding: 0 $fsArrowArea;
            }
        }

        &:hover {
            #{$root}__arrow {
                display: flex;
            }
        }

        #{$root}__arrow {
            display: none;
            width: $fsArrowArea;
            top: $fsPadding;
            bottom: $fsPadding;
            height: calc(100% - 2 * $fsPadding);

            &_prev {
                left: 0;
                margin-right: 0;
            }
        }

        @media (max-width: map-get($gridBreakpoints, 'md')) {
            &:hover {
                #{$root}__arrow {
                    display: none;
                }
            }
        }
    }

    @media (max-width: map-get($gridBreakpoints, 'md')) {
        &__footer {
            display: block;

            #{$root}__disclaimer {
                position: relative;
                width: 100%;
                padding-bottom: $indentS;
            }
        }
    }

    @media (max-width: map-get($gridBreakpoints, 'sm')) {
        $horizontalPadding: $gridContainerMargin + $gridGutterMobile;
        &:not(&_one-slide) {
            margin-left: #{-$horizontalPadding};
            padding-left: $horizontalPadding;
            width: calc(100% + #{$horizontalPadding * 2});
            overflow-x: auto;

            #{$root}__slider {
                padding: $indentSM $horizontalPadding $indentL;
                margin: 0 0 0 #{-$horizontalPadding};
            }

            #{$root}__slide {
                padding: 0 $indentXXXS;
            }
        }
    }
}
