@import '../../../styles/variables.scss';
@import '../../../styles/mixins.scss';

$block: '.#{$ns}basic-card';

#{$block} {
    @include add-specificity(&) {
        min-height: auto;
    }

    &__footer {
        margin-top: 0px;
    }
    &__links,
    &__buttons {
        margin-top: $indentXS;
    }
}
