@import '../../../styles/variables.scss';
@import '../../../styles/mixins.scss';

$block: '.#{$ns}basic-card';

#{$block} {
    $iconSizeL: 32px;
    $iconSizeS: 22px;

    @include add-specificity(&) {
        min-height: auto;
    }

    &__icon {
        max-width: 100%;
        margin-bottom: $indentXXS;
        height: $iconSizeL;
        object-fit: contain;
        display: block;

        &_icon-position {
            &_left {
                height: $iconSizeS;
                width: $iconSizeS;
                margin: 1px $indentXXS 1px 0px;
            }
        }
    }
    &__content {
        display: flex;
        flex-direction: column;

        &_icon-position {
            &_left {
                flex-direction: row;
            }
        }
    }

    &__text-content {
        @include add-specificity(&) {
            flex: 1 0 0;
        }
    }
}
