@import '../../../styles/mixins';
@import '../../../styles/variables';

$block: '.#{$ns}table-block';

#{$block} {
    $class: &;

    &__title {
        @include add-specificity(&) {
            @include heading2();
            @include top-content-offset($offset: 0px);

            position: sticky;
            margin-right: $indentM;
        }
    }

    &__table {
        margin-top: 0;
    }

    @media (max-width: map-get($gridBreakpoints, 'lg')) {
        &__title {
            margin-right: 0;
            padding-bottom: $indentM;
        }
    }
}
