@import '../../../styles/mixins';
@import '../../../styles/variables';

$block: '.#{$ns}table-block';

#{$block} {
    $class: &;

    &__title {
        @include add-specificity(&) {
            @include text-display-2();
            @include top-content-offset($offset: 0px);

            color: var(--pc-text-header-color);
            margin: 0;
            position: sticky;
            margin-right: $indentM;

            @media (max-width: map-get($gridBreakpoints, 'sm') - 1) {
                @include text-display-1();
            }
        }
    }

    &__table {
        margin-top: 0;
    }

    @media (max-width: map-get($gridBreakpoints, 'lg')) {
        &__title {
            margin-right: 0;
            padding-bottom: $indentM;
        }
    }
}
