@import '../../../../styles/variables';
@import '../../../../styles/mixins';

$block: '.#{$ns}logo';

#{$block} {
    display: flex;
    align-items: center;

    &__icon {
        display: flex;
        margin-right: $indentXXXS;

        object-fit: contain;
    }

    &__text {
        @include heading4();

        white-space: nowrap;
    }
}
