@import '../../../../../../styles/variables';
@import '../../../../../../styles/mixins';
@import '../../../../../../styles/root';
@import '../../../../../../styles/yfm.scss';
@import '../mixins.scss';

.custom-decorator {
    @include custom-block-title($selector: '.custom-decorator__title');

    $titleHeight: 64px;

    position: relative;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    /* stylelint-disable-next-line declaration-no-important */
    padding: 0 4px 4px 4px !important;
    background: var(--pc-color-base-silver);
    border-radius: 24px;

    &__title {
        @include heading2();

        padding: 24px 48px;
    }

    &__content {
        background: var(--g-color-base-background);
        border-radius: 20px;
        padding: 0 48px;
    }

    &__yfm code {
        display: block;
        white-space: pre-wrap;
        font-size: 12px;
        padding: 12px;
    }
}
