@import '../../../styles/mixins';
@import '../../../styles/variables';

$block: '.#{$ns}SliderBlock';
$fullscreenArrowArea: 120px;

@mixin fullscreen-card() {
    @media (max-width: map-get($gridBreakpoints, 'sm')) {
        &#{$block}:not(#{$block}_one-slide) {
            margin-left: 0;
            padding-left: 0;
            width: 100%;
            overflow: inherit;

            #{$block}__slider {
                padding-right: 0;
            }
        }
    }
}

$dotsCn: '.swiper-container-horizontal .swiper-pagination-bullets';
$wrapperCn: '.swiper-wrapper';

$dotSize: 8px;

#{$block} {
    $root: &;
    position: relative;

    &__slider {
        @include add-specificity(&) {
            padding: $indentSM 0 $indentL;
            margin: 0 -#{$gridGutter};
        }

        // Optimization for touch events on mobile devices
        touch-action: pan-y pinch-zoom;
        -webkit-overflow-scrolling: touch;
    }

    &_without-dots {
        #{$root}__slider {
            padding-bottom: $indentS;
        }
    }

    &__slide.swiper-slide {
        @include add-specificity(&) {
            padding: 0 #{$gridGutter};
        }

        box-sizing: border-box;
        height: auto;

        @keyframes safari-fix {
            from {
                transform: translateX(0.001px);
            }
            to {
                transform: translateX(0);
            }
        }

        // fix text under video in safari
        &.swiper-slide-visible {
            animation: safari-fix 300ms;
        }

        #{$root}__slide-item {
            width: 100%;
            height: 100%;
        }

        // Optimization for all cards: allow touch events for swipe
        // Images and links should not block horizontal swipe
        .#{$ns}image-card,
        .#{$ns}basic-card,
        .#{$ns}card-base-block,
        .#{$ns}quote,
        .#{$ns}price-card,
        .#{$ns}banner-card,
        .#{$ns}background-card {
            touch-action: pan-y pinch-zoom;

            img,
            picture,
            picture img {
                -webkit-user-drag: none;
                touch-action: pan-y pinch-zoom;
            }

            a,
            button {
                touch-action: pan-y pinch-zoom;
            }
        }

        // Specific for image-card: images may intercept events
        .#{$ns}image-card {
            img,
            picture,
            picture img {
                pointer-events: auto;
            }
        }
    }

    #{$root}__slide-item {
        width: 100%;
        height: 100%;
    }

    &__arrow {
        position: absolute;
        top: -2px;
        right: 0;
        z-index: 2;

        &_prev {
            right: $sliderArrowSize;
            margin-right: $indentXS;
        }
    }

    &__header {
        &_no-description {
            position: relative;
            top: -3px;
        }
    }

    &__dot {
        width: $dotSize;
        height: $dotSize;

        border-radius: 50%;
        background-color: var(--g-color-line-generic-accent);
        cursor: pointer;
        display: inline-block;

        transition: background-color 1s;

        &:hover {
            background-color: var(--g-color-line-generic-accent-hover);
        }

        & + & {
            margin-left: $indentXS;
        }

        &_active {
            opacity: 1;
            background-color: var(--g-color-line-generic-active);
        }
    }

    &_only-arrows {
        padding-top: $sliderArrowSize;
    }

    &__footer {
        display: flex;
        position: relative;

        #{$root}__disclaimer {
            position: absolute;
            top: 0;
            left: 0;
            color: var(--g-color-text-secondary);

            &_size {
                &_l {
                    @include text-size(header-1);
                }

                &_m {
                    @include text-size(body-2);
                }

                &_s {
                    @include text-size(body-1);
                }
            }
        }
    }

    &__animate-slides {
        @include animate-slides(#{$root}__slide);
        @include animate-slides(#{$root}__dot);
    }

    &_type_media-card {
        @include fullscreen-card();

        padding: 0;

        & #{$dotsCn} {
            bottom: $indentSM;
        }

        #{$root}__slider {
            padding: 0;
        }

        &:hover {
            #{$root}__arrow {
                display: flex;
            }
        }

        #{$root}__arrow {
            display: none;
            width: 64px;
            top: 50%;
            transform: translate(0, -50%);

            &_prev {
                left: 0;
                margin-right: 0;
            }
        }

        @media (max-width: map-get($gridBreakpoints, 'md')) {
            &:hover {
                #{$root}__arrow {
                    display: none;
                }
            }

            & #{$dotsCn} {
                left: $indentSM;
                width: calc(100% - $indentSM);
            }
        }
    }

    &_type_header-card {
        @include fullscreen-card();
        $arrowWidth: 68px;
        $arrowHeight: 68px;

        padding-top: 0;

        #{$root}__wrapper {
            position: relative;
        }

        & #{$dotsCn} {
            bottom: $indentM;
        }

        #{$root}__slider {
            padding: 0;
            margin: 0;
        }

        #{$root}__arrow {
            top: 50%;
            transform: translateY(-50%);
            width: $arrowWidth;
            height: $arrowHeight;

            right: 0;

            &_prev {
                left: 0;
                margin-right: 0;
            }
        }

        &:has(.swiper-slide-active .#{$ns}header-block_controls-view_light) {
            .#{$ns}slider-arrow__inner {
                color: var(--g-color-text-dark-primary);
            }

            .#{$ns}SliderBlock__dot {
                background-color: var(--g-color-private-black-150);

                &_active {
                    background-color: var(--g-color-private-black-300);
                }
            }
        }

        &:has(.swiper-slide-active .#{$ns}header-block_controls-view_dark) {
            .#{$ns}slider-arrow__inner {
                color: var(--g-color-text-light-primary);
            }

            .#{$ns}SliderBlock__dot {
                background-color: var(--g-color-private-white-150);

                &_active {
                    background-color: var(--g-color-private-white-300);
                }
            }
        }

        #{$root}__slide {
            padding: 0;
        }

        @media (max-width: map-get($gridBreakpoints, 'md')) {
            &#{$root}:not(#{$root}_one-slide) {
                margin-left: -$indentXXXS;
                padding-left: 0;
                width: calc(100% + #{$indentXXXS});
            }
        }

        @media (max-width: map-get($gridBreakpoints, 'sm')) {
            #{$root}__arrow {
                display: none;
            }
            &#{$root}:not(#{$root}_one-slide) {
                #{$root}__slider {
                    margin-left: 0;
                }

                #{$wrapperCn} {
                    padding-left: 0;
                }

                #{$root}__slide {
                    // to remove the indentation between slides
                    padding-right: 0;
                    padding-left: 0;
                }
            }
        }
    }

    &_type_fullscreen-card {
        @include fullscreen-card();
        padding-top: 0;

        #{$root}__slider {
            padding: 24px 0 40px;
            height: 100vh;
            margin: 0;

            & .swiper-pagination {
                bottom: 11px;
            }

            #{$root}__dot {
                background-color: var(--g-color-text-light-hint);

                &_active {
                    background-color: var(--g-color-text-light-primary);
                }
            }

            #{$root}__slide {
                height: 100%;
                padding: 0 $fullscreenArrowArea;
            }
        }

        &:hover {
            #{$root}__arrow {
                display: flex;
            }
        }

        #{$root}__arrow {
            display: none;
            width: $fullscreenArrowArea;
            top: 40px;
            bottom: 40px;

            &_prev {
                left: 0;
                margin-right: 0;
            }
        }

        @media (max-width: map-get($gridBreakpoints, 'md')) {
            margin-left: 0;

            #{$root}_slider {
                margin-left: 0;
                width: 100%;
            }

            &:hover {
                #{$root}__arrow {
                    display: none;
                }
            }
        }

        @media (max-width: map-get($gridBreakpoints, 'sm')) {
            &#{$root}:not(#{$root}_one-slide) {
                #{$root}__slider {
                    margin-left: 0;
                }

                #{$wrapperCn} {
                    padding-left: 0;
                }
            }
        }
    }

    @media (max-width: map-get($gridBreakpoints, 'md')) {
        &__footer {
            display: block;

            #{$root}__disclaimer {
                position: relative;
                width: 100%;
                padding-bottom: $indentS;
            }
        }
    }

    @media (max-width: map-get($gridBreakpoints, 'sm')) {
        $horizontalPadding: $gridContainerMargin + $gridGutterMobile;

        &:not(#{&}_one-slide) {
            margin-left: -($horizontalPadding);
            padding-left: $horizontalPadding;
            width: calc(100% + #{($horizontalPadding) * 2});
            overflow-x: auto;

            #{$root}__slider {
                margin-left: #{-$horizontalPadding};
                margin-right: 0;
                padding-right: $horizontalPadding;
            }

            & #{$wrapperCn} {
                padding-left: $horizontalPadding - $gridGutter;
            }

            #{$root}__slide {
                padding: 0 $fullscreenImageMobilePadding;
            }
        }
    }
}
