@import '../../../../../styles/variables.scss';
@import '../../../../../styles/mixins.scss';

$block: '.#{$ns}settings-list';

#{$block} {
    &__title,
    &__description {
        font-weight: 400;

        &_size_l {
            @include text-header-1();
        }

        &_size_m {
            @include text-body-2();
        }

        &_size_s {
            @include text-body-1();
        }
    }

    &__title {
        color: var(--g-color-text-hint);
    }
}
