@import '../../../styles/variables.scss';

.FullWidthBackground {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--yc-color-base-background);
    z-index: 0;
    pointer-events: none;

    &_rounded {
        border-radius: $borderRadius;
    }
}
