.balanced-masonry-stories__column-class-name {
    margin: 5px;
}

.balanced-masonry-stories__class-name {
    display: flex;
}

.balanced-masonry-stories__card-base {
    min-height: auto;
    height: auto;
    margin-bottom: 10px;
}
