@import '../../../styles/mixins.scss';
@import '../../../styles/variables.scss';

$block: '.#{$ns}posts';

#{$block} {
    $root: &;

    &__cards-container,
    &__pinned-container {
        padding-top: $indentSM;
        scroll-margin: $indentL;
    }

    &__pagination {
        display: flex;
        flex-direction: column;

        align-items: center;
        justify-content: center;

        padding-top: $indentL;
        padding-bottom: $indentXL;
    }

    &__more-button {
        margin-bottom: $indentXXS;
    }

    &__error-show-more {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        color: var(--yc-color-promo-base-tomato);
        padding-bottom: $indentXXS;
    }

    &__paginator {
        padding-top: $indentXXS;
    }
}
