@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

$block: '.#{$ns}tabs';

#{$block} {
    overflow: auto;
    width: 100%;

    &__item {
        color: var(--g-color-text-hint);
        font-weight: 500;
        letter-spacing: 0.5px;
        cursor: pointer;

        &_active {
            pointer-events: none;
            color: var(--g-color-text-primary);
        }
    }

    &__tabs-wrapper {
        width: 100%;
        border-bottom: 1px solid var(--g-color-line-generic);
        display: inline-flex;
        flex-direction: row;
        padding: 16px 4px;
    }

    &__body {
        flex: 1;
        border-right: 1px solid var(--g-color-line-generic);
        overflow-y: auto;
    }
}
