@import '../../../styles/mixins';
@import '../../../styles/variables';

$block: '.#{$ns}CustomBarControls';
$controlSize: 64px;
// custom controls sizes
$withPlayPauseControlSize: 42px;
$withPlayPauseControlIconSize: 16px;
$withMuteControlHeight: 22px;
$withMuteControlWidth: 32px;
// ---

#{$block} {
    &__wrapper {
        position: absolute;
        bottom: 0;
        opacity: 0;
        transition: opacity $animationDuration ease 3s;

        &_shown {
            opacity: 1;
            transition: opacity 0s ease 0s;
        }

        &_type {
            &_with-play-pause-button {
                gap: $indentXXXS;
                padding: $indentXXXS;
            }
        }

        &_positioning {
            &_left,
            &_right,
            &_center {
                display: flex;
                width: 100%;
            }
            &_right {
                flex-direction: row-reverse;
            }
            &_center {
                justify-content: center;
            }
        }
    }

    &__button {
        border: 0;
        padding: 0;
        cursor: pointer;

        &_type {
            &_with-mute-button {
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                position: relative;
                width: $controlSize;
                height: $controlSize;
                background: var(--g-color-base-background);
                transition: background-color $animationDuration;
                margin: $indentXXS;

                &:hover,
                &:focus {
                    background: $videoPlayButtonGrey;
                }

                @include focusable();
            }

            &_with-play-pause-button {
                width: $withPlayPauseControlSize;
                height: $withPlayPauseControlSize;
                border-radius: 50%;
                background: var(--g-color-base-background);
                @include shadow();
                @include focusable();
            }
        }
    }

    &__play-icon {
        &_type {
            &_with-play-pause-button {
                height: $withPlayPauseControlIconSize;
                width: $withPlayPauseControlIconSize;
                color: var(--g-color-base-neutral-heavy);
            }
        }
    }

    &__mute-icon {
        &_type {
            &_with-mute-button {
                height: $withMuteControlHeight;
                width: $withMuteControlWidth;
            }
            &_with-play-pause-button {
                height: $withPlayPauseControlIconSize;
                width: $withPlayPauseControlIconSize;
                color: var(--g-color-base-neutral-heavy);
            }
        }
    }
}
