@import '../../../styles/mixins';
@import '../../../styles/variables';

$block: '.#{$ns}CustomBarControls';
$controlSize: 64px;

#{$block} {
    &__wrapper {
        position: absolute;
        bottom: 0;
        opacity: 0;
        transition: opacity $animationDuration ease 3s;

        &_shown {
            opacity: 1;
            transition: opacity 0s ease 0s;
        }

        &_type {
            &_with-play-pause-button {
                padding: $indentS;
                gap: $indentS;
            }
            &_with-uikit-play-pause-button {
                gap: $indentXXXS;
                padding: $indentXXXS;
            }
        }

        &_positioning {
            &_left,
            &_right,
            &_center {
                display: flex;
                width: 100%;
            }
            &_right {
                flex-direction: row-reverse;
            }
            &_center {
                justify-content: center;
            }
        }
    }

    &__button {
        border: 0;
        padding: 0;
        cursor: pointer;

        &_type {
            &_with-play-pause-button {
                opacity: 0.9;
                background-color: transparent;
                transition: opacity $animationDuration ease 3s;

                &:hover,
                &:focus {
                    opacity: 1;
                }
                &:focus {
                    outline: 1px solid var(--g-color-line-light);
                    outline-offset: 2px;
                    border-radius: 4px;
                }
                &:focus:not(:focus-visible) {
                    outline: none;
                }
            }

            &_with-mute-button {
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                position: relative;
                width: $controlSize;
                height: $controlSize;
                background: var(--g-color-base-background);
                transition: background-color $animationDuration;
                margin: 12px;

                &:hover,
                &:focus {
                    background: $videoPlayButtonGrey;
                }

                &:focus {
                    outline: 2px solid var(--g-color-line-misc);
                }
                &:focus:not(:focus-visible) {
                    outline: none;
                }
            }

            &_with-uikit-play-pause-button {
                width: 42px;
                height: 42px;
                border-radius: 50%;
                background: var(--g-color-base-background);
                box-shadow: 0 4px 24px 0 var(--g-color-sfx-shadow-light),
                    0 2px 8px 0 var(--g-color-sfx-shadow-light);

                &:focus {
                    outline: 2px solid var(--g-color-line-misc);
                }
                &:focus:not(:focus-visible) {
                    outline: none;
                }
            }
        }
    }

    &__play-icon {
        &_type {
            &_with-play-pause-button {
                height: 24px;
                width: 24px;
            }
            &_with-uikit-play-pause-button {
                height: 16px;
                width: 16px;
                color: var(--g-color-base-neutral-heavy);
            }
        }
    }

    &__mute-icon {
        &_type {
            &_with-mute-button {
                height: 22px;
                width: 32px;
            }
            &_with-play-pause-button {
                height: 24px;
                width: 24px;
            }
            &_with-uikit-play-pause-button {
                height: 16px;
                width: 16px;
                color: var(--g-color-base-neutral-heavy);
            }
        }
    }
}
