@import '../../../styles/mixins';
@import '../../../styles/variables';

$block: '.#{$ns}ReactPlayer';

#{$block} {
    &__wrapper {
        position: relative;
        // Player ratio: 100 / (1280 / 720)
        padding-top: 56.25%;

        #{$block}__player {
            position: absolute;
            top: 0;
            left: 0;
        }
    }

    &__button {
        @include reset-button-style();
        @include focusable();

        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        width: 64px;
        height: 64px;

        border-radius: 166px;

        &_theme_blue {
            color: var(--g-color-base-background);
            background-color: var(--g-color-base-brand);
        }

        &_theme_grey {
            color: var(--pc-text-header-color);
            background-color: $videoPlayButtonGrey;
        }

        &_text {
            padding: 16px 32px;
            font-weight: 400;
            font-size: 24px;
            line-height: 32px;

            width: auto;
            height: auto;
        }
    }

    &__icon {
        margin-left: 1px;
    }

    &_controls_custom {
        &::before {
            display: none;
            position: absolute;
            width: 100%;
            height: 100%;
            content: '';
            background: linear-gradient(180deg, rgba(0, 0, 0, 0) 65.36%, rgba(0, 0, 0, 0.2) 100%);
            opacity: 0;
            transition: opacity $animationDuration;
        }
    }

    @media only screen and (max-width: map-get($gridBreakpoints, 'sm')) {
        &__button_text {
            font-size: 20px;
            line-height: 24px;
        }
    }
}
