@import '../../../../../styles/variables.scss';
@import '../../../../../styles/mixins.scss';

.mobile-navigation {
    position: fixed;
    z-index: 100;
    top: var(--header-height);
    left: 0;

    width: 100%;

    border-bottom-right-radius: $borderRadius;
    border-bottom-left-radius: $borderRadius;
    background-color: var(--yc-color-base-background);
    box-shadow: 0 3px 10px var(--yc-color-sfx-shadow);

    @include text-size(body-2);
    @include mobile-tablet-only();

    &__wrapper {
        padding: $indentM $indentS;
    }

    &__button {
        margin-top: $indentSM;
    }

    &__links {
        position: relative;

        display: flex;
        flex-direction: column;

        padding-bottom: $indentSM;
        @include reset-list-style();
    }

    &__links-item {
        &:not(:last-child) {
            margin-bottom: $indentSM;
        }
    }

    &__dropdown-item {
        &:not(:last-child) {
            margin-bottom: $indentXS;
        }
    }

    &__popup {
        @include mobile-tablet-only();
        @include navigation-popup();
    }
}
