@import '../../styles/variables.scss';

$block: '.#{$ns-form-builder-v2}inspector';

#{$block} {
    padding: 14px;

    &__header {
        display: flex;
        flex-direction: column;
        gap: var(--g-spacing-half);
        margin-bottom: var(--g-spacing-3);
        padding-bottom: 10px;
        border-bottom: 1px solid var(--g-color-line-generic);
    }

    &__body {
        display: flex;
        flex-direction: column;
        gap: var(--g-spacing-2);
    }

    &__empty {
        padding: var(--g-spacing-4) var(--g-spacing-2);
        text-align: center;
    }
}
