{
    "extends": [
        "@gravity-ui/eslint-config",
        "@gravity-ui/eslint-config/prettier",
        "@gravity-ui/eslint-config/import-order",
        "@gravity-ui/eslint-config/a11y",
        "plugin:react/jsx-runtime"
    ],
    "root": true,
    "env": {
        "node": true,
        "jest": true
    },
    "plugins": ["no-not-accumulator-reassign"],
    "rules": {
        "react/jsx-fragments": ["error", "element"],
        "no-not-accumulator-reassign/no-not-accumulator-reassign": [
            "warn",
            ["reduce"],
            {"props": true}
        ],
        "no-restricted-syntax": [
            "error",
            {
                "selector": "ImportDeclaration[source.value='react'] :matches(ImportDefaultSpecifier, ImportSpecifier)",
                "message": "Please use `import * as React from 'react'` instead."
            }
        ],
        "import/no-extraneous-dependencies": 0
    },
    "overrides": [
        {
            "files": ["src/**/*.tsx"],
            "rules": {
                "react/jsx-fragments": [
                    "error",
                    "element"
                ]
            }
        },
        {
            "files": ["**/__tests__/**/*.[jt]s?(x)", "**/?(*.)+(spec|test).[jt]s?(x)"],
            "extends": ["plugin:testing-library/react"]
        },
        {
            "files": ["**/__stories__/**/*.[jt]s?(x)"],
            "rules": {
                "no-console": "off"
            }
        }
    ]
}
