{
  "extends": ["@gravity-ui/eslint-config", "@gravity-ui/eslint-config/prettier", "@gravity-ui/eslint-config/client"],
  "root": true,
  "overrides": [
      {
          "files": ["*.ts", "*.tsx"],
          "rules": {
              "valid-jsdoc": "off"
          }
      }
  ],
  "env": {
    "node": true
  }
}
