# Settings
.idea
.DS_Store
.vscode

# Libs
node_modules

# Generated content
/build
/storybook-static
/server
/configure
/styles/**/*.css
/coverage
/widget
/schema

*.tgz
.env
.env.development
/test-results/
playwright-report*
/blob-report/
.cache*

# Playground
/playground/node_modules
/playground/.next
/playground/.env
