# System
.idea
.vscode
.history

# Build
build/
server/
configure/
storybook-static/
styles/styles.css
CHANGELOG.md
CONTRIBUTING.md
/coverage
/widget
/schema


/playwright/playwright/.cache/

# npm files
package.json

# Playground
/playground/.next
