@import '../../../../styles/variables.scss';
@import '../../../../styles/mixins.scss';

$block: '.#{$ns}array-dynamic-field';

#{$block} {
    &__card {
        padding: 12px;
        margin-top: 12px;

        &:first-child {
            margin-bottom: 0;
        }
    }

    &__row {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 10px;

        margin-top: 10px;

        &:first-child {
            margin-top: 0;
        }
    }

    &__card-head {
        margin-bottom: 8px;
    }

    &__row-title {
        @include text-subheader-3;
    }

    &__row-title,
    &__row-field {
        flex: 1;
    }

    &__empty {
        padding: 10px;
        display: flex;
        justify-content: center;
    }

    &__add-button {
        margin-top: 12px;
    }
}
