@import '../../../styles/mixins';
@import '../../../styles/variables';

.foldable-block {
    &__content-container {
        height: 0;
        overflow-y: hidden;
        transition: height $animationDuration, margin-bottom $animationDuration;
    }
}
