.pc-fg-base-input {
    display: flex;
    align-items: baseline;
    margin-bottom: 8px;

    &__title {
        max-width: 64px;
        width: 100%;
        line-break: anywhere;
    }

    &__input {
        margin-left: 8px;
    }
}
