.pc-fg-base-input {
    display: flex;
    align-items: stretch;

    margin-bottom: 8px;

    &:not(:first-child) {
        margin-top: 8px;
    }

    &:last-child {
        margin-bottom: 0;
    }

    &__title {
        padding: 5px 0;
        min-width: 64px;
        max-width: 128px;
        display: inline-block;
        white-space: break-spaces;
        word-break: break-word;
        width: 20%;
        align-items: flex-start;

        &::first-letter {
            text-transform: uppercase;
        }
    }

    &__input {
        margin-left: 8px;
        flex-grow: 1;
        min-height: 28px;
        display: flex;
        align-items: center;
    }
}
