@import '../../../styles/mixins.scss';
@import '../../../styles/variables.scss';

$block: '.#{$namespace}post-info';

#{$block} {
    &__item {
        @include text-size(body-2);

        display: flex;
        padding-right: $indentSM;
        padding-top: $indentXXS;
        flex-wrap: nowrap;
        align-items: center;

        &_size {
            &_s {
                @include text-size(body-2);
            }

            &_m {
                @include text-size(body-3);
            }
        }
    }

    &__item:last-child {
        @include text-size(body-2);

        display: flex;
        padding-right: 0px;
        padding-top: $indentXXS;
        flex-wrap: nowrap;
        align-items: center;
    }

    &__switcher {
        color: var(--yc-color-text-secondary);

        &:hover {
            color: var(--yc-color-text-primary);
        }

        &_theme {
            &_dark {
                color: var(--yc-color-text-light-secondary);

                &.yc-share-tooltip__container,
                &.yc-share-popover__container {
                    color: var(--yc-color-text-light-secondary);
                }
            }

            &_dark:hover {
                color: var(--yc-color-text-light-primary);

                &.yc-share-tooltip__container,
                &.yc-share-popover__container {
                    color: var(--yc-color-text-light-primary);
                }
            }
        }
    }

    &__container {
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;
        padding-top: $indentXXS;
        color: var(--yc-color-text-secondary);

        &_theme {
            &_dark {
                color: var(--yc-color-text-light-secondary);
            }
        }
    }

    &__icon {
        margin-right: 6px;
        display: flex;
        align-items: center;
    }

    &__title {
        width: auto;
        overflow: hidden;

        &_cursor {
            cursor: pointer;
        }
    }

    &__content {
        display: flex;

        &_cursor {
            cursor: pointer;

            &:hover {
                color: var(--yc-color-text-primary);
            }
        }

        &_cursor#{&}_theme_dark:hover {
            color: var(--yc-color-text-light-primary);
        }
    }

    &__likes {
        display: flex;
    }

    &__suggest-container {
        display: flex;
        flex-grow: 1;
        flex-wrap: wrap;
    }
}
