@import '../../../styles/mixins.scss';
@import '../../../styles/variables.scss';

$block: '.#{$ns}button-block';

#{$block} {
    --g-button-focus-outline-color: var(--g-color-line-focus);

    &__content {
        display: flex;
        align-items: center;
    }

    &__image {
        width: 18px;
        height: 18px;
    }

    &__image + &__text,
    &__text + &__image {
        margin-left: var(--btn-image-margin);
    }

    &_theme {
        &_github {
            &#{&} {
                @include monochrome-button();
            }
        }

        &_scale::before,
        &_scale::after {
            border-radius: 300px;
        }

        &_monochrome {
            @include monochrome-button();
        }

        &_normal-contrast,
        &_raised {
            &:focus::before {
                outline-offset: 1px;
            }
        }
    }

    &_size {
        &_s {
            --btn-image-margin: 10px;
        }

        &_m {
            --btn-image-margin: 13px;
        }

        &_l {
            --btn-image-margin: 18px;
        }

        &_xl {
            --btn-image-margin: 25px;
        }
    }

    &_width {
        &_max {
            #{$block}__text {
                width: 100%;
            }
        }
    }
}
