@import '../../../styles/variables.scss';

$block: '.#{$ns}button-block';

@mixin monochromeButton() {
    --yc-button-background-color: var(--pc-monochrome-button-background-color);
    --yc-button-background-color-hover: var(--pc-monochrome-button-background-color-hover);
    color: var(--pc-monochrome-button-color);

    &:hover {
        color: var(--pc-monochrome-button-color);
    }
}

#{$block} {
    &__content {
        display: flex;
        align-items: center;
    }

    &__image {
        width: 18px;
        height: 18px;
    }

    &__image + &__text,
    &__text + &__image {
        margin-left: var(--btn-image-margin);
    }

    &_theme {
        &_github {
            &#{&} {
                @include monochromeButton();
            }
        }

        &_scale::before,
        &_scale::after {
            border-radius: 300px;
        }

        &_monochrome {
            @include monochromeButton();
        }
    }

    &_size {
        &_s {
            --btn-image-margin: 10px;
        }

        &_m {
            --btn-image-margin: 13px;
        }

        &_l {
            --btn-image-margin: 18px;
        }

        &_xl {
            --btn-image-margin: 25px;
        }
    }
}
