@import '../../../../../../styles/variables';
@import '../../mixins';

$block: '.#{$ns}navigation-dropdown';

#{$block} {
    @include navigation-item-display();

    &__arrow {
        margin-left: 7px;

        color: var(--yc-color-text-secondary);
    }
}
