@import '../../../../../../styles/variables';
@import '../../../../../../styles/mixins';
@import '../../mixins';

$block: '.#{$ns}navigation-dropdown';

#{$block} {
    @include navigation-item-display();
    @include focusable();

    display: flex;
    align-items: center;
    height: 100%;
    background: inherit;
    font: inherit;
    color: var(--g-color-text-primary);
    border: none;

    &__arrow {
        margin-left: 7px;

        color: var(--g-color-text-secondary);
    }
}
