@import '../../../styles/variables.scss';
@import '../../../styles/mixins.scss';

$block: '.#{$namespace}author';

#{$block} {
    $root: &;

    &__layout {
        display: flex;
        align-items: flex-start;
        flex-direction: row;
        overflow: hidden;
    }

    @media (max-width: map-get($gridBreakpoints, 'lg')) {
        &__layout {
            width: 50%;
        }
    }

    @media (max-width: map-get($gridBreakpoints, 'sm')) {
        &__layout {
            width: 100%;
        }
    }

    &__description {
        color: var(--yc-color-text-primary);
    }

    &__content {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-content: flex-start;
        position: relative;
    }

    &__container {
        background-color: var(--yc-color-promo-base-silver);
    }
}
