@import '../../../styles/mixins';
@import '../../../styles/variables';

$block: '.#{$ns}cards-with-image-block';

#{$block} {
    &__header {
        h2 {
            @include text-size(display1);
            margin-bottom: 0;
            font-weight: 500;
        }
    }
}
