@import '../../../styles/variables.scss';
@import '../../../styles/mixins';

$block: '.#{$ns}ExtendedFeaturesBlock';

#{$block} {
    $class: &;
    $itemMargin: $indentM;

    &__items {
        margin-top: -$indentM;
    }

    &__header + &__items {
        margin-top: 0;
    }

    &__item {
        margin-top: $indentM;

        &.col {
            padding-right: $indentM;
        }

        &-title-container {
            margin: inherit;
            display: block;
            margin-block: 0 $indentXXXS;
        }

        &-title {
            @include add-specificity(&) {
                @include heading4();

                position: relative;
                margin-bottom: $indentXXXS;

                a {
                    @include link();
                }
            }
        }

        &-label {
            @include text-size(caption-2);

            position: relative;
            top: -3px;
            height: 16px;
            margin-left: 8px;
            padding: 1.5px 5px 2px;

            color: var(--g-color-base-background);
            background-color: var(--g-color-base-brand);
            border-radius: 4px;
        }

        &-text,
        &-link {
            @include text-size(body-2);
        }

        &-text {
            a {
                @include link();
            }
        }

        &-link {
            margin-top: $indentXXXS;
            color: var(--g-color-text-link);
        }
    }

    &__icon {
        @include icon();

        display: block;

        &-wrap {
            margin-bottom: $indentXXS;
        }
    }

    @media (max-width: map-get($gridBreakpoints, 'sm')) {
        &__item {
            margin-top: $indentM;
        }

        &__item {
            &.col {
                padding-right: $indentXXXS;
            }
        }
    }

    @include animate-slides(#{$class}__item);
}
