@import '../../../styles/variables.scss';
@import '../../../styles/mixins';

$block: '.#{$ns}ExtendedFeaturesBlock';

#{$block} {
    $class: &;
    $itemMargin: $indentM;

    &__header {
        h1 {
            @include heading1();

            margin-bottom: 0;
            font-weight: 500;
        }
    }

    &__items {
        margin-top: -$indentM;
    }

    &__header + &__items {
        margin-top: 0;
    }

    &__item {
        margin-top: $indentM;
        padding-right: $indentM;

        &-title {
            @include heading4();

            display: flex;
            position: relative;
            margin-bottom: $indentXXXS;
            font-weight: 500;

            a {
                @include link();
            }
        }

        &-label {
            @include text-size(caption);

            position: relative;
            top: 5px;
            height: 16px;
            margin-left: 8px;
            padding: 0 5px;

            color: var(--yc-color-base-background);
            background-color: var(--yc-color-text-info);
            border-radius: 3px;
        }

        &-text,
        &-link {
            @include text-size(body2);

            a {
                @include link();
            }
        }

        &-link {
            margin-top: $indentXXXS;
            color: var(--yc-color-text-link);
        }
    }

    &__icon {
        @include icon();

        display: block;
        margin-bottom: $indentXXXS;
    }

    @media (max-width: map-get($gridBreakpoints, 'sm')) {
        &__item {
            margin-top: $indentM;
        }
    }

    @include animate-slides(#{$class}__item);
}
