@import '../../../../styles/variables.scss';
@import '../../../../styles/mixins.scss';
@import '../../styles/root.scss';
@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

$block: '.#{$ns}source';

#{$block} {
    display: inline-flex;
    align-items: center;
    padding: 0 8px;
    gap: 8px;

    &__text {
        flex: 1;
    }
}
