@import '../../../../styles/variables.scss';
@import '../../../../styles/mixins.scss';
@import '../../styles/root.scss';
@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

$block: '.#{$ns}editor';

#{$block} {
    $dividerWidth: 12px;
    $formWidth: 400px + $dividerWidth;

    &__add-button {
        position: fixed;
        bottom: $indentM;
        left: calc(50% + $formWidth / 2);
        transform: translateX(-50%);
        z-index: $editorAddControlZIndex;
    }
}
