@import '../../../../styles/variables.scss';
@import '../../../../styles/mixins.scss';
@import '../../styles/root.scss';
@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

$block: '.#{$ns}sidebar';

#{$block} {
    $class: &;

    position: relative;
    height: 100%;
    width: 100%;
    display: flex;

    &_position_left {
        flex-direction: row;
    }

    &_position_right {
        flex-direction: row-reverse;
    }

    &__buttons-wrapper {
        border-right: 1px solid var(--g-color-line-generic);
    }

    &__buttons {
        display: inline-flex;
        flex-direction: column;
        padding: 8px;
        gap: 8px;

        &:hover #{$class}__label-wrapper {
            opacity: 1;
        }
    }

    &__body {
        flex: 1;
        border-right: 1px solid var(--g-color-line-generic);
        overflow-y: auto;
    }

    &__button-wrapper {
        position: relative;
    }

    &_position_right {
        #{$class}__button-wrapper:hover {
            #{$class}__label-wrapper {
                right: 40px;
            }
        }

        #{$class}__label-wrapper {
            right: 50px;
        }
    }

    &_position_left {
        #{$class}__button-wrapper:hover {
            #{$class}__label-wrapper {
                left: 40px;
            }
        }

        #{$class}__label-wrapper {
            left: 50px;
        }
    }

    &__label-wrapper {
        pointer-events: none;
        opacity: 0;

        background-color: var(--g-color-base-background);
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 100;

        transition: left 0.1s ease, right 0.1s ease, opacity 0.1s ease;
    }
}
