@import '../../../../styles/variables.scss';
@import '../../../../styles/mixins.scss';
@import '../../styles/root.scss';
@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

$block: '.#{$ns}middle-screen';

#{$block} {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;

    &__topbar {
        height: 50px;
    }

    &__canvas {
        height: 100%;
        width: 100%;
        overflow-y: scroll;
        position: relative;
    }

    &__overlay {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        pointer-events: none;
    }

    &__border {
        position: absolute;
        border: 3px var(--g-color-line-brand) solid;
        border-radius: 10px;
    }

    &__loading {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: var(--g-color-base-background);
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
