@import '../../../styles/variables.scss';
@import '../../../styles/mixins.scss';

$block: '.#{$ns}card-with-image';

#{$block} {
    margin-top: $indentSM;

    &__image {
        width: 100%;
        display: block;
        margin-bottom: $indentXS;
        border-radius: $borderRadius;

        &_border {
            border: 1px solid var(--yc-color-line-generic);
        }

        &-item {
            width: 100%;
            display: block;
            border-radius: $borderRadius;
        }
    }

    &__title {
        @include heading4();

        margin-bottom: $indentXXXS;
        font-weight: 500;
    }

    &__description,
    &__links {
        @include heading5();
        @include text-size(body2);
    }

    &__description {
        margin-bottom: $indentXXXS;
        padding-right: $indentM;
    }

    &__links-item {
        @include link();

        padding-right: $indentXXXS;
    }
}
