@import '../../../styles/variables.scss';
@import '../../../styles/mixins.scss';

$block: '.#{$ns}layout-item';

#{$block} {
    display: flex;
    flex-direction: column;
    height: 100%;

    &__media {
        width: 100%;
        display: block;
        border-radius: $borderRadius;

        &_border {
            border: 1px solid var(--g-color-line-generic);
        }
    }

    &__meta-info {
        margin: $indentXS 0 -#{$indentXXXS} 0;
    }

    &__content {
        display: flex;

        flex: auto;
        margin: $indentXS $indentXS 0 0;

        &_no-media {
            margin: 0;
        }
    }

    &__wrapper {
        flex: auto;
    }
}
