@import '../../../styles/mixins.scss';
@import '../../../styles/variables.scss';

.FeedHeader {
    $root: &;

    margin-top: $indentXS;

    &__header {
        padding: $indentXS 0;
    }

    &__content {
        position: relative;
        height: 100%;
        padding-bottom: 0;

        &_offset_large {
            padding: calc(#{$indentXXXL} - #{$indentXXL}) 0 $indentXS;
            margin-bottom: -$indentL;
        }

        &_theme_dark {
            @include add-specificity(&) {
                #{$root}__title,
                #{$root}__description * {
                    color: var(--yc-color-text-light-primary);
                }
            }
        }
    }

    &_has-background {
        height: calc(100% + #{$indentXXL});
    }

    &__content {
        position: relative;
        z-index: 10;
    }

    &__background,
    &__background-media {
        z-index: 5;
    }

    &__background {
        position: absolute;
        top: 0;
        left: 50%;
        width: 1440px;
        transform: translateX(-50%);
        max-width: 100vw;
        height: 100%;
        border-radius: $borderRadius;
    }

    @media (max-width: map-get($gridBreakpoints, 'md')) {
        &_has-background {
            #{$root}__background-img {
                display: none;
            }

            #{$root}__content_vertical-offset {
                &_s,
                &_m,
                &_l,
                &_xl {
                    padding: calc(#{$indentXXL} - #{$indentXS}) 0;
                }
            }
        }
    }

    .mobile & {
        &_has-background {
            #{$root}__title {
                @include text-size(display-2);
            }
        }
    }
}
