@import '../../../styles/variables';
@import '../../../styles/mixins';

$block: '.#{$ns}author';
$imageWidth: 80px;
$imageHeight: 80px;
$authorBorderRadius: $indentXS;

#{$block} {
    $root: &;

    @include text-size(body-3);

    display: flex;
    flex-direction: column;

    &__avatar {
        width: $imageWidth;
        height: $imageHeight;
        display: flex;
        align-items: center;
        flex: 0 0 auto;
        border-radius: $authorBorderRadius;
        overflow: hidden;

        img {
            width: $imageWidth;
            height: $imageHeight;
            object-fit: cover;
            display: block;
        }
    }

    &__name {
        @include text-size(body-3);
    }

    &__description {
        @include text-size(body-2);

        color: $secondary;
        padding-top: $indent4XS;
    }

    &__label:not(:first-child) {
        font-weight: 400;
        margin-top: $indentXXXS;
    }

    &_type_column {
        z-index: 1;
        position: relative;
    }

    &_type_line {
        flex-flow: row nowrap;
        align-items: center;
        width: 100%;

        #{$root}__avatar {
            margin: 0;
        }

        #{$root}__label {
            margin-top: 0;
        }

        #{$root}__label:not(:first-child) {
            margin-left: $indentXS;
        }
    }

    &_theme {
        &_dark {
            #{$root}__description {
                color: $lightSecondary;
            }
        }
    }
}
