@import '../../../styles/variables';
@import '../../../styles/mixins';

$block: '.#{$ns}author';
$imageWidth: 80px;
$imageHeight: 80px;
$authorBorderRadius: $indentXS;

#{$block} {
    $root: &;

    @include text-size(body-3);

    display: flex;
    flex-direction: column;
    color: var(--yc-color-text-secondary);

    &__avatar {
        width: $imageWidth;
        height: $imageHeight;
        display: flex;
        align-items: center;
        flex: 0 0 auto;
        border-radius: $authorBorderRadius;
        overflow: hidden;

        img {
            width: $imageWidth;
            height: $imageHeight;
            object-fit: cover;
            display: block;
        }
    }

    &__name {
        @include text-size(body-3);

        color: var(--yc-color-text-primary);
    }

    &__description {
        @include text-size(body-2);

        padding-top: 4px;
    }

    &__label:not(:first-child) {
        font-weight: 400;
        margin-top: $indentXXXS;
    }

    &_type_column {
        z-index: 1;
        position: relative;
    }

    &_type_line {
        flex-flow: row nowrap;
        align-items: center;
        width: 100%;

        #{$root}__avatar {
            margin: 0;
        }

        #{$root}__label {
            margin-top: 0;
        }

        #{$root}__label:not(:first-child) {
            margin-left: $indentXS;
        }
    }
}
