@import '../../../../styles/variables.scss';
@import '../../../../styles/mixins.scss';

$block: '.#{$ns}anyof-dynamic-field';

#{$block} {
    &__radio {
        margin: 16px 12px;
    }

    &__select {
        min-width: 80px;
    }
}
