@import '../../../styles/variables.scss';
@import '../../styles/variables.scss';

$block: '.#{$ns}arrow-block';

#{$block} {
    color: var(--www-text-content-color);
    opacity: 0.9;

    &_direction_right {
        transform: rotate(180deg);
    }

    &:hover {
        opacity: 1;
    }
}
