.BalancedMasonry {
    position: relative;

    &__hidden-container {
        position: absolute;
        visibility: hidden;
        overflow: hidden;
        height: 100%;
        z-index: -1;
    }
}
