@import '../../../../../../styles/variables';
@import '../../mixins';

$block: '.#{$ns}github-stars';

#{$block} {
    @include navigation-item-display();

    display: flex;
    align-items: center;
    height: 100%;

    span {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}
