@import '../../../../styles/variables';

.dropdown-navigation-item {
    text-wrap: nowrap;
    display: flex;
    align-items: center;

    &:hover {
        color: var(--g-color-text-brand);
    }
}
