@import '../../../styles/variables.scss';
@import '../../../styles/mixins.scss';

$block: '.#{$ns}basic-card';

#{$block} {
    @include add-specificity(&) {
        min-height: auto;
    }

    &__icon {
        margin-bottom: $indentXXS;
        height: 32px;
        object-fit: contain;
        display: block;
    }
}

a#{block} {
    min-height: auto;
}
