@import '../../../styles/mixins.scss';
@import '../../../styles/variables.scss';

$block: '.#{$ns}content-layout-block';

#{$block} {
    &__files {
        margin-top: $indentM;

        &_size_s {
            @extend %heading-margin-reset;
            @include text-size(body2);
        }

        &_size_l {
            @include heading5();
        }

        a {
            text-decoration: none;
        }
    }

    &__file {
        margin-bottom: $indentXXS;
    }
}
