@import '../../../styles/mixins.scss';
@import '../../../styles/variables.scss';

$block: '.#{$ns}content-layout-block';

#{$block} {
    position: relative;

    &__content,
    &__files {
        z-index: 10;
        position: relative;
    }

    &__files {
        margin-top: $indentSM;

        &_size_s {
            @extend %heading-margin-reset;
            @include text-size(body-2);
        }

        &_size_l {
            @extend %heading-margin-reset;
            @include text-size(body3);
        }

        &_centered {
            margin-left: auto;
            margin-right: auto;
        }

        a {
            text-decoration: none;
        }
    }

    &__file {
        margin-bottom: $indentXXS;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__background {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        &-item {
            height: 100%;
            border-radius: $borderRadius;
        }
    }

    &_background {
        padding: $indentXL;
    }

    @media (max-width: map-get($gridBreakpoints, 'sm')) {
        &_background {
            padding: $indentM;

            picture {
                display: none;
            }
        }
    }
}
