@import '../../../../../../styles/variables';
@import '../../../../../../styles/mixins';
@import '../../mixins';

$block: '.#{$ns}navigation-link';

#{$block} {
    @include navigation-item();
    @include navigation-item-display();
    @include focusable();

    &__arrow {
        position: relative;
        top: -2px;

        width: 9px;
        height: 9px;
        margin-left: 5px;
    }
}
