@import '../../../../styles/variables.scss';
@import '../../../../styles/mixins.scss';
@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

$block: '.#{$ns}edit-block';

#{$block} {
    $controlIconWidth: 48px;
    $controlIconHeight: 32px;
    $blockIndent: $indentL;
    $zIndex: 10;

    cursor: pointer;
    position: relative;
    z-index: $zIndex;

    &_active {
        z-index: calc($zIndex + 1);

        #{$block}__controls {
            border: 4px solid var(--pc-editor-base-color);
        }
    }

    &__controls {
        position: absolute;
        width: calc(100% + $blockIndent * 2);
        height: calc(100% + $blockIndent);
        top: -#{$blockIndent};
        left: -#{$blockIndent};
        border-radius: $borderRadius;
        // controls should be above the block to prevent block's interactions on click in edinting mode
        z-index: $zIndex;

        &_isHeader {
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
        }

        &_reset-paddings {
            top: 0;
            height: 100%;
        }
    }

    &__controls-content {
        display: flex;
        position: absolute;
        bottom: -40px;
        left: 50%;
        transform: translateX(-50%);
    }

    &__control {
        @include reset-button-style();
        @include control($hoverScale: 1.1);

        width: $controlIconWidth;
        height: $controlIconHeight;
        border-radius: $editorControlBorderRadius;
        color: var(--pc-editor-control-icon-color);
        background-color: var(--pc-editor-control-color);

        &:not(:first-child) {
            margin-left: $indent4XS;
        }
    }
}
