@import '../../../../styles/variables.scss';
@import '../../../../styles/mixins.scss';
@import '../../styles/root.scss';
@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

$block: '.#{$ns}editor-layout';

%overflow-container {
    --g-scrollbar-width: 0;
    height: calc(100vh - var(--pc-editor-header-height));
    max-height: calc(100vh - var(--pc-editor-header-height));
    overflow-y: auto;
}

#{$block} {
    position: relative;

    &__container {
        position: relative;
        display: flex;
        justify-content: center;
        z-index: 1;
    }

    &__left,
    &__right {
        @extend %overflow-container;
    }

    &__left {
        flex: 0 0 auto;
        padding: $indentSM;
        width: var(--pc-editor-left-column-width);
        border-right: var(--pc-editor-divider-width) solid var(--g-color-line-generic);
        overflow-x: auto;

        &_closed {
            display: none;
        }
    }

    &__right {
        position: relative;
        width: 100%;

        &_editing {
            padding-bottom: 200px;
        }
    }

    &__arrow-toggle {
        padding: $indentXXS;
        cursor: pointer;
        border-right: 1px solid var(--g-color-line-generic);
    }
}
