@import '../../../../styles/variables.scss';
@import '../../../../styles/mixins.scss';
@import '../../styles/root.scss';
@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

$block: '.#{$ns}editor-layout';

%overflow-container {
    --yc-scrollbar-width: 0;
    height: calc(100vh - var(--editor-header-height));
    max-height: calc(100vh - var(--editor-header-height));
    overflow-y: auto;
}

#{$block} {
    position: relative;

    &__panel {
        top: 0;
        position: sticky;
        z-index: 2;
    }

    &__container {
        position: relative;
        display: flex;
        justify-content: center;
        z-index: 1;
    }

    &__left,
    &__right {
        @extend %overflow-container;
    }

    &__left {
        flex: 0 0 auto;
        padding: $indentSM $indentXS;
        width: var(--editor-left-column-width);
        border-right: var(--editor-divider-width) solid var(--yc-color-line-generic);
        overflow-x: auto;
    }

    &__right {
        width: 100%;

        &_editing {
            padding-bottom: 200px;
        }
    }
}
