@import '../../../../styles/variables.scss';

.pc-Grid {
    section {
        border-radius: $indentXXS;
    }

    .col {
        display: flex;
        align-items: center;
    }
}

.color {
    &-red {
        color: #ff0000;
    }

    &-green {
        color: #00aa00;
    }

    &-blue {
        color: #0066cc;
    }
}
