@import '../../../styles/variables.scss';
@import '../../../styles/mixins.scss';

$block: '.#{$ns}tutorial-card';

#{$block} {
    &__title {
        @include heading4();

        margin-bottom: $indentXXS;
    }

    &__icon {
        @include icon();

        display: block;
        margin-bottom: $indentXXS;
    }
}
