$indentXXXS: 8px;
$indentXXS: 12px;
$indentXS: 16px;
$indentS: 20px;
$indentSM: 24px;
$indentM: 32px;
$indentL: 48px;
$indentXL: 64px;
$indentXXL: 96px;
$indentXXXL: 128px;
$indent4XL: 160px;

$sliderArrowSize: 42px;

$ease-out-quadratic: cubic-bezier(0.25, 0.46, 0.45, 0.94);
$ease-out-cubic: cubic-bezier(0.22, 0.61, 0.36, 1);

$transition: 0.8s $ease-out-quadratic;

$contentMargin: $indentM;

$headerSliderLargeBreakpoint: 1300px;
