@import '../../../styles/variables';
@import '../../../styles/mixins';

$block: '.#{$ns}title-item';

#{$block} {
    @include justify();
    $root: &;

    color: var(--pc-text-header-color);
    margin: 0;

    &_size_xs {
        @include text-subheader-3();
    }

    &_size_s {
        @include text-header-1();
        margin-top: $indentM;
    }

    &_size_sm {
        @include text-display-1();
        margin-top: $indentL;
    }

    &_size_m {
        @include text-display-2();
        margin-top: $indentL;

        @media (max-width: map-get($gridBreakpoints, 'sm') - 1) {
            @include text-display-1();
        }
    }

    &_size_l {
        @include text-display-4();
        margin-top: $indentXXL;

        @media (max-width: map-get($gridBreakpoints, 'md')) {
            @include text-display-3();
        }

        @media (max-width: map-get($gridBreakpoints, 'sm')) {
            @include text-display-2();
        }
    }

    &__arrow {
        position: relative;
        left: 0;
        transition: left 0.3s $ease-out-cubic;
        margin-top: 9px;

        &_size_xs {
            margin-top: 6px;
        }

        &_size_s {
            margin-top: $indent4XS;
        }
    }

    &__link {
        @include reset-button-style();
        @include reset-link-style();
        @include reset-link-hover();
        @include focusable();

        padding-right: 8px;
        border-radius: var(--g-focus-border-radius);

        &:hover {
            cursor: pointer;

            #{$root}__arrow {
                left: 10px;

                &_size_xs {
                    left: 6px;
                }

                &_size_s {
                    left: 8px;
                }
            }
        }
    }

    &__text {
        @include add-specificity(&) {
            white-space: normal;
            font-size: inherit;
            line-height: inherit;

            a {
                @include link();
            }
        }
    }

    &__wrapper {
        display: inline-flex;
        white-space: nowrap;
    }

    &_reset-margin {
        margin-top: 0;
    }

    @media (max-width: map-get($gridBreakpoints, 'sm')) {
        &_size_l:not(#{$root}_reset-margin) {
            margin-top: $indentL;
        }

        &__arrow {
            &_size_m,
            &_size_l {
                margin-top: 9px;
            }
        }
    }
}
