@import '../../../styles/variables';
@import '../../../styles/mixins';

$block: '.#{$ns}title-block';

#{$block} {
    @include justify();
    $root: &;

    font-weight: 500;

    &_size_s {
        @include heading4();

        margin-top: $indentM;
    }

    &_size_m {
        @include heading2();
        margin-top: $indentL;
    }

    &_size_l {
        @include heading1();
        margin-top: $indentXL;
    }

    &__arrow {
        margin: 8px 0 0 4px;

        &_size_s {
            margin: 4px 0 0 4px;
        }
    }

    &__link {
        @include reset-link-style();
        @include reset-link-hover();

        padding-right: 8px;

        &:hover {
            cursor: pointer;

            #{$root}__arrow {
                margin-left: 12px;

                &_size_s {
                    margin-left: 8px;
                }
            }
        }
    }

    &__text {
        white-space: normal;
    }

    &__wrapper {
        white-space: nowrap;
    }

    &_reset-margin {
        margin-top: 0;
    }

    @media (max-width: map-get($gridBreakpoints, 'sm')) {
        &_size_l {
            margin-top: $indentL;
        }
    }
}
