@import '../../../styles/mixins';
@import '../../../styles/variables';

$block: '.#{$ns}PromoFeaturesBlock';

#{$block} {
    $class: &;

    &__card-title {
        @include heading4();
    }

    &__card-container {
        display: flex;

        &-column {
            & + & {
                margin-left: calc(#{$gridGutter} * 2);
            }
        }
    }

    &__header {
        margin-bottom: $indentM;
    }

    &__background {
        background-color: inherit;

        &_grey {
            background-color: var(--g-color-base-misc-light);
        }
    }

    &_grey {
        padding: $indentXL 0;
    }

    &__card {
        $block: &;

        @include reset-link-style();

        display: flex;
        flex-direction: column;
        justify-content: center;
        border-radius: $borderRadius;
        overflow: hidden;

        &-info {
            padding: $indentM $indentM 0 $indentM;
        }

        &-title {
            margin-bottom: $indentXXXS;
        }

        &-text {
            @include text-size(body-2);
        }

        &-media {
            margin-top: $indentXS;
        }

        & + & {
            margin-top: $indentXS;
        }

        &_no-media {
            #{$block}-info {
                padding: $indentM;
            }
        }

        &_light {
            background-color: var(--g-color-base-background);
        }

        &_default {
            background-color: var(--g-color-base-misc-light);
        }

        &_accent {
            color: var(--g-color-text-light-primary);
            background-color: var(--g-color-base-brand);

            #{$block}-title,
            #{$block}-text > .yfm * {
                color: var(--g-color-text-light-primary);
            }

            &-light {
                background-color: var(--pc-color-base-copper);
            }
        }

        &_primary {
            background-color: var(--pc-color-base-gold);
        }
    }

    @include animate-slides(#{$class}__card-container-column);
}
