@import '../../../styles/variables.scss';
@import '../../../styles/mixins.scss';

$block: '.#{$ns}content';
$primary: var(--yc-color-text-primary);
$secondary: var(--yc-color-text-secondary);
$lightPrimary: var(--yc-color-text-light-primary);
$lightSecondary: var(--yc-color-text-light-secondary);
$darkPrimary: var(--yc-color-text-dark-primary);
$darkSecondary: var(--yc-color-text-dark-secondary);

@mixin content-link($baseColor: $primary, $hoverColor: $secondary) {
    color: $baseColor;
    text-decoration: underline;
    &:hover {
        color: $hoverColor;
    }
}

#{$block} {
    &__notice {
        @include add-specificity(&) {
            .yfm,
            .yfm > * {
                color: $secondary;
            }

            .yfm a {
                @include content-link($secondary, $primary);
            }

            ol, ul {
                padding-left: 25px;
            }
        }
    }

    &__button {
        margin-top: 0;
        margin-right: $indentXXS;
    }

    &__link {
        display: inline-block;
        margin-right: $indentM;
    }

    &_centered {
        margin: 0 auto;
        text-align: center;

        #{$block}__link {
            a {
                justify-content: center;
            }
        }
    }

    &_size {
        &_s {
            #{$block}__text,
            #{$block}__notice {
                margin-top: $indentXXXS;
            }

            #{$block}__text {
                &_without-title {
                    margin-top: 0;
                }
            }

            #{$block}__links,
            #{$block}__link,
            #{$block}__buttons,
            #{$block}__button {
                margin-top: $indentXXXS;
            }
        }

        &_l {
            #{$block}__text,
            #{$block}__notice {
                margin-top: $indentXXS;
            }

            #{$block}__text {
                &_without-title {
                    margin-top: 0;
                }
            }

            #{$block}__text .yfm,
            #{$block}__notice .yfm,
            #{$block}__notice .yfm > * {
                @extend %heading-margin-reset;
                @include text-size(body-3);
            }

            #{$block}__links,
            #{$block}__link,
            #{$block}__buttons,
            #{$block}__button {
                margin-top: $indentXXS;
            }
        }
    }

    &_theme {
        &_dark {
            #{$block}__title,
            #{$block}__text .yfm,
            #{$block}__text .yfm > *,
            #{$block}__link a {
                color: $lightPrimary;
            }

            #{$block}__notice {
                .yfm,
                .yfm > * {
                    color: $lightSecondary;
                }

                .yfm a {
                    @include content-link($lightSecondary, $lightPrimary);
                }
            }

            #{$block}__text {
                .yfm a {
                    @include content-link($lightPrimary, $lightSecondary);
                }
            }

            #{$block}__title {
                a {
                    @include content-link($lightPrimary, $lightSecondary);
                }
            }
        }

        &_light {
            #{$block}__title,
            #{$block}__text .yfm,
            #{$block}__text .yfm > *,
            #{$block}__link a {
                color: $darkPrimary;
            }

            #{$block}__notice {
                .yfm,
                .yfm > * {
                    color: $darkSecondary;
                }

                .yfm a {
                    @include content-link($darkSecondary, $darkPrimary);
                }
            }

            #{$block}__text {
                .yfm a {
                    @include content-link($darkPrimary, $darkSecondary);
                }
            }

            #{$block}__title {
                a {
                    @include content-link($darkPrimary, $darkSecondary);
                }
            }
        }
    }
}
