@import '../../../styles/variables.scss';
@import '../../../styles/mixins.scss';

$block: '.#{$ns}content';

#{$block} {
    &__notice {
        .yfm,
        .yfm > * {
            color: var(--yc-color-text-secondary);
        }

        .yfm a {
            color: var(--yc-color-text-primary);

            &:hover {
                color: var(--yc-color-text-secondary);
            }
        }
    }

    &__button {
        margin-top: 0;
        margin-right: $indentXXS;
    }

    &__link {
        display: inline-block;
        margin-top: $indentXS;
        margin-right: $indentM;
    }

    &_centered {
        margin: 0 auto;
        text-align: center;

        #{$block}__link {
            a {
                justify-content: center;
            }
        }
    }

    &_size {
        &_s {
            #{$block}__text,
            #{$block}__notice {
                margin-top: $indentXXXS;
            }

            #{$block}__links {
                margin-top: $indentXXXS;
            }

            #{$block}__buttons {
                margin-top: $indentSM;
            }
        }

        &_l {
            #{$block}__text,
            #{$block}__notice {
                margin-top: $indentXXS;
            }

            #{$block}__text .yfm,
            #{$block}__notice .yfm,
            #{$block}__notice .yfm > *,
            #{$block}__notice .yfm > * {
                @include heading5();
            }

            #{$block}__links {
                margin-top: $indentXS;
            }

            #{$block}__buttons {
                margin-top: $indentM;
            }
        }
    }

    &_theme {
        &_dark {
            #{$block}__title,
            #{$block}__text .yfm,
            #{$block}__text .yfm > *,
            #{$block}__link a {
                color: var(--yc-color-text-light-primary);
            }

            #{$block}__notice {
                .yfm,
                .yfm > * {
                    color: var(--yc-color-text-light-secondary);
                }

                .yfm a {
                    text-decoration: underline;

                    &:hover {
                        color: var(--yc-color-text-light-primary);
                    }
                }
            }

            #{$block}__text {
                .yfm a {
                    text-decoration: underline;

                    &:hover {
                        color: var(--yc-color-text-light-secondary);
                    }
                }
            }
        }

        &_light {
            #{$block}__text {
                .yfm a {
                    color: var(--yc-color-text-primary);
                    text-decoration: underline;

                    &:hover {
                        color: var(--yc-color-text-secondary);
                    }
                }
            }

            #{$block}__notice {
                .yfm a {
                    color: var(--yc-color-text-secondary);
                    text-decoration: underline;

                    &:hover {
                        color: var(--yc-color-text-primary);
                    }
                }
            }

            #{$block}__link a {
                color: var(--yc-color-text-primary);
            }
        }
    }

    @media (max-width: map-get($gridBreakpoints, 'sm')) {
        &__button {
            margin-bottom: $indentXXS;
        }

        &__buttons {
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}
