@import '../../../../../../styles/variables';

$block: '.#{$ns}content-wrapper';

#{$block} {
    &__icon {
        display: flex;
        width: 20px;
        height: 20px;
        margin-right: $navigationIconIndent;

        object-fit: cover;
    }
}
