@import '../../../../styles/variables.scss';

$block: '.#{$ns}yaml-editor';

#{$block} {
    height: 100%;
    position: relative;

    &__copy-button {
        position: absolute;
        top: 12px;
        right: 12px;

        &_hidden {
            visibility: hidden;
        }
    }
}
