@import '../../../../styles/variables.scss';

$block: '.#{$ns}yaml-editor';

$controlBarHeight: 36px;

#{$block} {
    height: 100%;
    position: relative;

    // &__copy-button {
    //     position: absolute;
    //     top: 12px;
    //     right: 12px;

    //     &_hidden {
    //         visibility: hidden;
    //     }
    // }

    &_fullscreen {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        z-index: 1000;
        background: var(--g-color-base-background);

        #{$block}__head {
            margin-top: var(--pc-editor-header-height);
        }
    }

    &__editor {
        width: 100%;
        height: 100%;
    }

    &__head {
        border-bottom: 1px solid var(--g-color-line-generic);
        height: $controlBarHeight;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    &__head,
    &__bottom {
        padding: 0 $indentS;
        background: var(--g-color-base-background);
    }

    &__message {
        &_status {
            &_success {
                color: var(--g-color-text-positive);
            }

            &_warning {
                color: var(--g-color-text-warning-heavy);
            }

            &_error {
                color: var(--g-color-text-danger);
            }
        }
    }

    &__bottom {
        border-top: 1px solid var(--g-color-line-generic);
        position: absolute;
        min-height: $controlBarHeight;
        left: 0;
        bottom: 0;
        width: 100%;
    }

    &__bottom-info {
        padding: 12px;
        font-family: Menlo, Monaco, 'Courier New', monospace;
        white-space: pre-wrap;
        overflow-y: auto;
        max-height: 140px;
    }
}
