@import '../../../../../styles/mixins.scss';
@import '../../../../../styles/variables.scss';

$block: '.#{$namespace}feed-controls';

#{$block} {
    $root: &;

    $controlsBorderRadius: 10px;
    $selectorItemBorderRadius: 8px;
    $selectorContainerBorderRadius: 12px;

    &__header {
        position: relative;
        display: flex;
        flex-direction: column;
        border-radius: var(--bc-border-radius);
        padding-bottom: $indentS;
        z-index: 10;
    }

    &__header-item {
        $block: &;

        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        &_title {
            @include text-size(display-4);

            padding-top: 112px;
            padding-bottom: $indentXXL;
        }
    }

    &__search {
        background-color: var(--yc-color-base-background);
        border-radius: $controlsBorderRadius;
        width: 100%;
        max-width: 100%;

        .yc-text-input_view_normal .yc-text-input__control {
            border-color: var(--yc-color-base-background);
        }
    }

    &__select {
        background-color: var(--yc-color-base-background);
        border-radius: $controlsBorderRadius;
        width: 100%;
    }

    &__popup {
        @include add-specificity(&) {
            border-radius: $selectorContainerBorderRadius;

            // TODO delete this section after Select can customize the popup list
            .yc-select-filter + .yc-select-list {
                margin-top: 0;

                &::-webkit-scrollbar {
                    display: none;
                }
            }

            .yc-list__item {
                margin: 4px;
                border-radius: $selectorItemBorderRadius;
            }

            .yc-select-filter {
                margin-top: 4px;

                padding: 4px;

                border-bottom: 1px solid var(--yc-color-line-generic);

                .yc-text-input__control.yc-text-input__control_type_input {
                    border: none;
                }
            }
        }
    }

    &__popup-filter {
        .yc-text-input__control {
            @include text-size(body-2);

            border: none;

            &:hover,
            &:focus {
                border: none;
            }
        }
    }

    &__select:hover {
        background-color: var(--yc-color-base-background);
        width: 100%;
    }

    &__saved-only-button {
        border-radius: $controlsBorderRadius;

        &_savedOnly {
            @include monochromeButton();
        }

        &_savedOnly:focus {
            color: var(--yc-color-base-background);
        }
    }

    &__filter-item {
        margin-right: $indentXXXS;
        margin-left: $indentXXXS;
        margin-bottom: $indentXXS;
        min-width: 230px;
        flex-grow: 1;

        @media (min-width: map-get($gridBreakpoints, 'sm')) {
            max-width: 240px;
        }

        &_width-auto {
            width: auto;
            min-width: auto;
            flex-grow: 0;
        }
    }

    &__icon {
        color: var(--yc-my-color-brand-normal);

        &_savedOnly {
            color: var(--yc-color-base-background);
        }
    }
}
