body {
    --pc-editor-header-height: 48px;
    --pc-editor-divider-width: 12px;
    --pc-editor-base-color: var(--g-color-base-brand);
    --pc-editor-control-color: var(--g-color-private-yellow-500-solid);
    --pc-editor-left-column-width: calc(400px + var(--pc-editor-divider-width));
}
