@import '../../../styles/mixins';
@import '../../../styles/variables';

.BlogPostCard {
    $root: &;

    $indentXXXXS: 4px;

    &__card {
        display: flex;
        flex-direction: column;

        min-height: 400px;

        &_fullWidth {
            flex-direction: row;
        }
    }

    &__header {
        &_fullWidth {
            width: 66%;
            height: 480px;
        }
    }

    &__title {
        margin-bottom: $indentXXXS;

        &_size_s {
            @include heading4();
        }

        &_size_m {
            @include heading2();
        }
    }

    &__image-container {
        height: 156px;
    }

    &__tag {
        color: var(--yc-color-text-secondary);

        &_size_s {
            @include text-size(body-2);
            padding-bottom: $indentXXXXS;
        }

        &_size_m {
            @include text-size(body-3);
            padding-bottom: $indentXXXS;
        }
    }

    &__description {
        color: var(--yc-color-text-primary);
    }
}
