@import '../../../styles/variables.scss';
@import '../../../styles/mixins';

$block: '.#{$ns}file-link';

#{$block} {
    $root: &;

    align-items: baseline;

    &_type_horizontal {
        display: flex;

        #{$root}__file-label {
            margin-right: 8px;
        }
    }

    &__file-label {
        display: flex;
        justify-content: center;
        text-transform: uppercase;

        //for text centering inside label
        .yc-label__text {
            width: initial;
        }
    }

    &__link > a {
        color: var(--g-color-text-primary);
    }

    &__link > a:hover {
        color: var(--g-color-text-secondary);
    }

    &_size {
        &_l {
            #{$root}__file-label {
                @include text-size(body-2);
                width: 56px;
            }
        }

        &_m,
        &_s {
            #{$root}__file-label {
                @include text-size(body-1);
                width: 44px;
            }
        }
    }

    &_theme {
        &_dark {
            #{$block}__link > a {
                color: var(--g-color-text-light-primary);
            }

            #{$block}__link > a:hover {
                color: var(--g-color-text-light-secondary);
            }
        }

        &_light {
            #{$block}__link > a {
                color: var(--g-color-text-dark-primary);
            }

            #{$block}__link > a:hover {
                color: var(--g-color-text-dark-secondary);
            }
        }
    }
}
