@import '../../../../styles/variables.scss';
@import '../../../../styles/mixins.scss';
@import '../../styles/mixins.scss';
@import '../../styles/variables.scss';

$block: '.#{$ns}add-block';

#{$block} {
    $buttonIconSize: 16px;
    $buttonWidth: 76px;
    $buttonHeight: 40px;

    &__button {
        @include reset-button-style();
        @include control();

        width: $buttonWidth;
        height: $buttonHeight;

        color: var(--yc-color-text-inverted-primary);
        background-color: var(--yc-color-promo-base-neon);
        border-radius: $editorControlBorderRadius;
    }

    &__icon {
        width: $buttonIconSize;
        height: $buttonIconSize;
    }
}

#{$block}__popup {
    $controlWidth: 420px;
    $controlHeight: 296px;
    $previewWidth: 148px;
    $previewHeight: 74px;

    min-width: $controlWidth;
    border-radius: $borderRadius;
    box-shadow: $editorShadow;

    #{$block}__search {
        padding: $indentS $indentS 0;
    }
    #{$block}__blocks {
        display: flex;
        flex-direction: column;
        padding: $indentS;
        height: $controlHeight;
        max-height: $controlHeight;

        overflow-y: auto;
    }

    #{$block}__block {
        @include control();

        margin-top: $indentS;
        justify-content: flex-start;
        cursor: pointer;

        &:first-child {
            margin-top: 0;
        }
    }

    #{$block}__preview {
        width: $previewWidth;
        height: $previewHeight;
        border-radius: $borderRadius;
        margin-right: $indentXS;
    }

    #{$block}__title {
        @include text-size(body-2);
    }

    #{$block}__title,
    #{$block}__description {
        margin: 0;
    }
}
