@import '../../../styles/variables.scss';
@import '../../../styles/mixins.scss';

$block: '.#{$ns}content';
$primary: var(--g-color-text-primary);
$lightPrimary: var(--g-color-text-light-primary);
$darkPrimary: var(--g-color-text-dark-primary);
$darkSecondary: var(--g-color-text-dark-secondary);

@mixin content-link($baseColor: $primary, $hoverColor: $secondary) {
    color: $baseColor;
    text-decoration: underline;
    &:hover {
        color: $hoverColor;
    }
}

#{$block} {
    --pc-monochrome-button-background-color: #262626;
    --pc-monochrome-button-background-color-hover: #393939;
    --pc-monochrome-button-color: var(--g-color-text-light-primary);

    &__notice,
    &__text {
        .yfm ol,
        .yfm ul {
            padding-left: 1.4em;
        }
    }

    &__notice {
        @include add-specificity(&) {
            .yfm,
            .yfm > * {
                color: $secondary;
            }

            .yfm a {
                @include content-link($secondary, $primary);
            }
        }
    }

    &__buttons {
        display: flex;
        flex-wrap: wrap;
        column-gap: $indentXXS;
    }

    &__links {
        display: flex;
        flex-direction: column;
        align-items: baseline;
    }

    &__link {
        display: block;
    }

    &_centered {
        @include add-specificity(&) {
            margin: 0 auto;
            text-align: center;
        }

        #{$block}__buttons {
            justify-content: center;
        }

        #{$block}__links {
            align-items: center;
        }

        #{$block}__link {
            a {
                justify-content: center;
            }
        }

        #{$block}__notice,
        #{$block}__text {
            .yfm ul,
            .yfm ol {
                text-align: left;
            }
        }
    }

    &_size {
        &_s {
            #{$block}__text,
            #{$block}__notice {
                margin-top: $indentXXXS;
            }

            #{$block}__text {
                &_without-title {
                    margin-top: 0;
                }
            }

            #{$block}__links,
            #{$block}__link,
            #{$block}__buttons,
            #{$block}__button {
                margin-top: $indentXXXS;
            }
        }

        &_l {
            #{$block}__text,
            #{$block}__notice {
                margin-top: $indentXXS;
            }

            #{$block}__text {
                &_without-title {
                    margin-top: 0;
                }
            }

            #{$block}__text .yfm,
            #{$block}__notice .yfm {
                @extend %heading-margin-reset;
                @include text-size(body-3);
            }

            #{$block}__links,
            #{$block}__link,
            #{$block}__buttons,
            #{$block}__button {
                margin-top: $indentXXS;
            }
        }
    }

    &_theme {
        &_dark {
            --g-color-line-focus: var(--pc-color-line-focus-dark);

            #{$block}__title *,
            #{$block}__text .yfm,
            #{$block}__text .yfm *,
            #{$block}__link a {
                color: $lightPrimary;
            }

            #{$block}__notice {
                .yfm,
                .yfm * {
                    color: $lightSecondary;
                }

                .yfm a {
                    @include content-link($lightSecondary, $lightPrimary);
                }
            }

            #{$block}__text {
                .yfm a {
                    @include content-link($lightPrimary, $lightSecondary);
                }
            }

            #{$block}__title {
                a {
                    @include content-link($lightPrimary, $lightSecondary);
                    text-decoration: none;
                }
            }
        }

        &_light {
            #{$block}__title *,
            #{$block}__text .yfm,
            #{$block}__text .yfm *,
            #{$block}__link a {
                color: $darkPrimary;
            }

            #{$block}__notice {
                .yfm,
                .yfm * {
                    color: $darkSecondary;
                }

                .yfm a {
                    @include content-link($darkSecondary, $darkPrimary);
                }
            }

            #{$block}__text {
                .yfm a {
                    @include content-link($darkPrimary, $darkSecondary);
                }
            }

            #{$block}__title {
                a {
                    @include content-link($darkPrimary, $darkSecondary);
                    text-decoration: none;
                }
            }
        }
    }
}
