@import '../../../styles/variables.scss';
@import '../../../styles/mixins.scss';

$block: '.#{$ns}content';
$primary: var(--g-color-text-primary);
$lightPrimary: var(--g-color-text-light-primary);
$darkPrimary: var(--g-color-text-dark-primary);
$darkSecondary: var(--g-color-text-dark-secondary);

@mixin content-link($baseColor: $primary, $hoverColor: $secondary) {
    color: $baseColor;
    text-decoration: underline;
    &:hover {
        color: $hoverColor;
    }
}

#{$block} {
    --pc-monochrome-button-background-color: #262626;
    --pc-monochrome-button-background-color-hover: #393939;
    --pc-monochrome-button-color: var(--g-color-text-light-primary);

    display: flex;
    flex-direction: column;

    &__notice,
    &__text {
        .yfm ol,
        .yfm ul {
            padding-left: 1.4em;
        }
    }

    &__notice {
        @include add-specificity(&) {
            .yfm,
            .yfm > * {
                color: $secondary;
            }

            .yfm a {
                @include content-link($secondary, $primary);
            }
        }
    }

    &__link {
        display: block;
    }

    &_centered {
        @include add-specificity(&) {
            margin: 0 auto;
            text-align: center;
        }

        #{$block}__labels {
            justify-content: center;
            margin-inline: auto;
        }

        #{$block}__list {
            margin-inline: auto;
        }

        #{$block}__buttons {
            justify-content: center;
        }

        #{$block}__links {
            align-items: center;
        }

        #{$block}__link {
            a {
                justify-content: center;
            }
        }

        #{$block}__notice,
        #{$block}__text {
            .yfm ul,
            .yfm ol {
                text-align: left;
            }
        }
    }

    &_size {
        &_s {
            #{$block}__text {
                margin-top: $indentXXXS;
            }

            #{$block}__text {
                &_without-title {
                    margin-top: 0;
                }
            }

            #{$block}__labels,
            #{$block}__list,
            #{$block}__links,
            #{$block}__notice {
                margin-top: $indentXS;
            }
            #{$block}__buttons {
                margin-top: $indentS;
            }

            #{$block}__notice .yfm {
                @include text-size(body-1);
            }
        }

        &_m {
            #{$block}__text {
                margin-top: $indentXXS;
            }

            #{$block}__text {
                &_without-title {
                    margin-top: 0;
                }
            }

            #{$block}__text .yfm,
            #{$block}__notice .yfm {
                @extend %heading-margin-reset;
                @include text-size(body-3);
            }
            #{$block}__text .yfm {
                @include text-size(body-3);
            }
            #{$block}__notice .yfm {
                @extend %heading-margin-reset;
                @include text-size(body-2);
            }

            #{$block}__labels,
            #{$block}__list,
            #{$block}__links,
            #{$block}__notice {
                margin-top: $indentS;
            }
            #{$block}__buttons {
                margin-top: $indentSM;
            }
        }

        &_l {
            #{$block}__text {
                margin-top: $indentXXS;
            }

            #{$block}__text {
                &_without-title {
                    margin-top: 0;
                }
            }

            #{$block}__text .yfm,
            #{$block}__notice .yfm {
                @extend %heading-margin-reset;
                @include text-size(body-3);
            }
            #{$block}__text .yfm {
                @include text-size(body-3);
            }

            #{$block}__notice .yfm {
                @extend %heading-margin-reset;
                @include text-size(body-2);
            }

            #{$block}__labels {
                margin-top: $indentSM;
            }

            #{$block}__list,
            #{$block}__links,
            #{$block}__notice {
                margin-top: $indentS;
            }
            #{$block}__buttons {
                margin-top: $indentSM;
            }
        }
    }

    &_theme {
        &_dark {
            @include add-specificity(&) {
                --g-color-line-focus: var(--pc-color-line-focus-dark);

                #{$block}__title *,
                #{$block}__text .yfm,
                #{$block}__text .yfm *,
                #{$block}__links a {
                    color: $lightPrimary;
                }

                #{$block}__notice {
                    .yfm,
                    .yfm * {
                        color: $lightSecondary;
                    }

                    .yfm a {
                        @include content-link($lightSecondary, $lightPrimary);
                    }
                }

                #{$block}__text {
                    .yfm a {
                        @include content-link($lightPrimary, $lightSecondary);
                    }
                }

                #{$block}__title {
                    a {
                        @include content-link($lightPrimary, $lightSecondary);
                        text-decoration: none;
                    }
                }
            }
        }

        &_light {
            @include add-specificity(&) {
                #{$block}__title *,
                #{$block}__text .yfm,
                #{$block}__text .yfm *,
                #{$block}__links a {
                    color: $darkPrimary;
                }

                #{$block}__notice {
                    .yfm,
                    .yfm * {
                        color: $darkSecondary;
                    }

                    .yfm a {
                        @include content-link($darkSecondary, $darkPrimary);
                    }
                }

                #{$block}__text {
                    .yfm a {
                        @include content-link($darkPrimary, $darkSecondary);
                    }
                }

                #{$block}__title {
                    a {
                        @include content-link($darkPrimary, $darkSecondary);
                        text-decoration: none;
                    }
                }
            }
        }
    }

    &_control-position {
        &_bottom {
            #{$block}__notice,
            #{$block}__list,
            #{$block}__text,
            #{$block}__title {
                &:has(+ #{$block}__buttons),
                &:has(+ #{$block}__links) {
                    margin-bottom: auto;
                }
            }
        }
    }
}
