// stylelint-disable declaration-no-important

@import './common';
@import './palette';
@import './typography';
@import '~@doc-tools/transform/dist/css/yfm.css';
/**
 * storybook-host container style overrides
 * @see {@link https://github.com/philcockfield/storybook-host/issues/43}
 */

[data-css-18sl43g] {
    font-family: inherit !important;
    line-height: inherit !important;
    background: none !important;
}

.docs-story {
    // without this in docs objects with z-index < 0 dissapear
    z-index: 0 !important;
}
