// stylelint-disable declaration-no-important

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');
@import './common';
@import './palette';
@import './typography';
@import '~@diplodoc/transform/dist/css/yfm.css';
/**
 * storybook-host container style overrides
 * @see {@link https://github.com/philcockfield/storybook-host/issues/43}
 */

[data-css-18sl43g] {
    font-family: inherit !important;
    line-height: inherit !important;
    background: none !important;
}

.docs-story {
    // to display in docs elements with z-index less than 0
    z-index: 0 !important;
}
