@import '../../../styles/mixins.scss';
@import '../../../styles/variables.scss';

$block: '.#{$ns}ErrorWrapper';

#{$block} {
    @include text-size(body-1);

    white-space: nowrap;
    color: var(--g-color-text-danger);

    &__text {
        margin-bottom: 5px;
    }
}
