$newContentWidth: 1120px;
$gridBreakpoints: (
    'sm': 577px,
    'md': 769px,
    'lg': 1081px,
    'xl': 1185px,
    'xxl': 1248px,
);
$gridGutter: 16px;
$gridGutterMobile: 10px;
$contentWidth: calc(#{$newContentWidth} + #{$gridGutter} * 4);
