@import '../../../../../../styles/mixins';
@import '../../../../../../styles/variables';

.navigation-popup-item {
    --container-icon-size: 20px;

    @include text-size(body-2);

    &__content {
        display: flex;
        border-radius: var(--g-border-radius-xl);
        height: 100%;

        &_padding {
            &_default {
                padding: var(--g-spacing-3);
            }

            &_s {
                padding: var(--g-spacing-2) var(--g-spacing-3);
            }
        }

        &:hover,
        &:active {
            color: var(--g-color-base-brand);
        }

        &_hover {
            &:hover,
            &:active {
                color: inherit;
            }

            &:hover {
                background-color: var(--g-color-base-simple-hover);
            }
        }
    }

    &__container {
        &_with-margin {
            margin-left: var(--g-spacing-7);
        }
    }
}
