@import '../../../styles/variables.scss';
@import '../../../styles/mixins';

$block: '.#{$ns}card-layout-block';

$largeBorderRadius: 32px;

#{$block} {
    &__item {
        margin-top: $indentSM;
    }

    &__content {
        position: relative;

        &_with-background {
            padding: $indentXXXS $indentM $indentL;
            margin-top: $indentSM;
        }
    }

    &__image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: $largeBorderRadius;
        pointer-events: none;

        img {
            object-fit: cover;
            object-position: left;
        }

        @include card-border();
    }

    @include animate-slides(#{$block}__item);
}
