@import '../../../styles/variables.scss';
@import '../../../styles/mixins';

$block: '.#{$ns}MediaCard';

#{$block} {
    &__body {
        padding: 0;
    }

    &__content {
        margin: $indentXXXS $indentXS 0 0;
    }

    &__meta-info {
        @include text-size(body-2);

        display: flex;
        align-items: center;
        font-weight: 500;

        margin: $indentXS $indentXS 0 0;
        color: var(--pc-media-card-meta-info-color);

        &-item:not(:first-child) {
            margin-left: $indentXS;
        }
    }
}
