@import '../../../styles/variables.scss';
@import '../../../styles/mixins';

$block: '.#{$ns}MediaCard';

#{$block} {
    &__body {
        padding: 0;
    }

    &__content {
        margin: $indentXXXS $indentXS 0 0;
    }
}
