@import '../../../../../styles/variables.scss';
@import '../../../../../styles/mixins.scss';

$block: '.#{$ns}settings-list';

#{$block} {
    &__title,
    &__description {
        font-weight: 400;

        &_size_l {
            @include text-size(header);
        }

        &_size_m {
            @include text-size(body-2);
        }

        &_size_s {
            @include text-size(body-1);
        }
    }

    &__title {
        color: var(--yc-color-text-hint);
    }
}
