@import '../../../../styles/variables.scss';
@import '../../../../styles/variables.scss';

$block: '.#{$ns}separate-price-detailed-block';

#{$block} {
    & .#{$ns}price-description {
        margin-bottom: 0;
    }

    & .#{$ns}price-details > * {
        padding-top: $indentXXS;
    }

    & .#{$ns}price-details {
        margin-top: $indentSM;
    }
}
