@import '../../../../styles/mixins';
@import '../../../../styles/variables';

$block: '.#{$ns}preview-media-block';

#{$block} {
    @include animate(&__media);

    &__title {
        @include heading2();
    }

    &__media {
        @include image-shadow();
        overflow: hidden;

        img {
            width: 100%;
        }

        img,
        video,
        iframe {
            border-radius: $borderRadius; // special for safari
        }

        display: none;

        &_active {
            display: block;
        }
    }

    @media (max-width: map-get($gridBreakpoints, 'md')) {
        &__media_active {
            width: 100%;
        }
    }
}
