@import '../../../../styles/mixins';
@import '../../../../styles/variables';
@import '../../../styles/variables.scss';
@import '../../../grid/styles/variables.scss';
@import '../../../styles/mixins.scss';

$block: '.#{$ns}preview-media-block';

#{$block} {
    @include animate(&__media);

    &__media {
        @include image-shadow();
        overflow: hidden;

        img {
            width: 100%;
        }

        img,
        video,
        iframe {
            border-radius: $indentXXS; // special for safari
        }

        display: none;

        &_active {
            display: block;
        }
    }

    @media (max-width: map-get($gridBreakpoints, 'md')) {
        &__media_active {
            width: 100%;
        }
    }
}
