@import '../../../../styles/mixins';
@import '../../../../styles/variables';

$block: '.#{$ns}preview-content-block';

#{$block} {
    $class: &;

    &__content {
        height: 100%;
        display: block;
        cursor: pointer;
        border-radius: $borderRadius;

        overflow: hidden;
        position: relative;
        background: var(--yc-color-base-background);

        & > #{$class}__description {
            overflow: hidden;
        }
    }

    &__loader-block {
        height: 100%;
        width: 0%;
        background: var(--yc-color-base-background);
        position: absolute;
        top: 0;
        left: 0;

        &_auto {
            transition: background-color 1s ease, width $animationDuration linear;
        }

        &_active {
            background-color: var(--yc-color-promo-highlight-sky);
            width: 100%;
        }

        &_active#{&}_auto {
            transition: background-color 1s ease, width 5s linear;
        }
    }

    &__title {
        @include heading4();
        font-weight: 500;
        position: relative;
    }

    &__description {
        @include text-size(body-2);
        position: relative;
    }

    @media (min-width: map-get($gridBreakpoints, 'md')) {
        &__content {
            padding: $indentXS $indentSM;
            margin: 0;
            transition: background-color 0.5s ease-in, margin-top $animationDuration ease,
                margin-bottom $animationDuration ease;

            & > #{$class}__description {
                height: 0px;
                transition: height $animationDuration ease, padding-top $animationDuration ease;

                & > span {
                    color: transparent;
                    transition: color $animationDuration ease;
                }
            }

            & > #{$class}__title:hover {
                color: var(--yc-color-text-link);
            }

            &_active {
                padding: $indentSM;
                margin: $indentXS 0;
                background: var(--yc-color-promo-base-silver);
                transition: background-color $animationDuration ease-in,
                    margin $animationDuration ease, padding $animationDuration ease;

                & > #{$class}__description {
                    padding-top: $indentXXS;

                    & > span {
                        color: var(--yc-color-text-primary);
                    }
                }

                & > #{$class}__title:hover {
                    color: var(--yc-color-text-primary);
                }
            }
        }
    }

    @media (max-width: map-get($gridBreakpoints, 'md')) {
        &__content {
            width: 275px;
            padding: $indentSM;
            padding-bottom: $indentM;
            transition: background-color 0.5s ease-in;

            &_active {
                margin: 0 $indentXS;
                background: var(--yc-color-promo-base-silver);
                transition: background-color $animationDuration ease-in;
            }

            & > #{$class}__description {
                padding-top: $indentXXS;
                & > span {
                    color: var(--yc-color-text-primary);
                }
            }
        }

        &__content > &__description {
            display: block;
        }

        .preview-block__row_reverse {
            &__content {
                margin-left: 0;
            }
        }
    }
}
