@import '../../../../styles/variables';
@import '../../../../styles/mixins';

$block: '.#{$ns}social-icon';

#{$block} {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 40px;
    height: 40px;
    margin-right: $indentXXXS;

    color: var(--g-color-base-background);
    border-radius: 50%;
    background-color: var(--g-color-base-generic);

    &:hover {
        background-color: var(--g-color-base-generic-hover);
    }

    &__icon {
        width: 16px;
        height: 16px;
    }
}
