@import '../../../../../../styles/variables';

.item-list-content {
    --item-spacing: var(--g-spacing-half);

    &__item {
        &:not(:last-child) {
            margin-bottom: var(--item-spacing);
        }
    }

    &_mobile {
        --item-spacing: var(--g-spacing-1);

        background-color: var(--g-color-base-brand);
        padding: var(--g-spacing-3) 0px;
        border-radius: 8px;
        margin-top: var(--g-spacing-3);
    }
}
