@import '../../../styles/mixins';
@import '../../../styles/variables';

$block: '.#{$ns}tabs-block';

#{$block} {
    $class: &;

    &__title {
        margin-bottom: $indentSM;

        @include centerable-title();
    }

    &__tabs {
        margin-bottom: $indentS;

        @include tab-panel();
    }

    &__row_reverse {
        flex-direction: row-reverse;
    }

    &__image {
        width: 100%;
        height: auto;
        object-fit: cover;
        display: block;
    }

    &__image,
    &__media {
        @include image-shadow();
    }

    &__caption {
        @include text-size(body-2);

        margin: $indentXXS 0 0;
        color: var(--g-color-text-secondary);
    }

    &__col {
        &_centered {
            margin: 0 auto;
        }
    }

    @media (max-width: map-get($gridBreakpoints, 'md')) {
        &__row_reverse {
            flex-direction: column-reverse;
        }
    }

    @include animate(#{$class}__media);
    @include animate(#{$class}__image);
}
