@import '../../../styles/mixins';
@import '../../../styles/variables';

$block: '.#{$ns}tabs-block';

#{$block} {
    $class: &;

    &__title {
        margin-bottom: $indentSM;

        @include centerable-title();
    }

    &__tabs {
        margin-bottom: $indentS;

        @include tab-panel();
    }
}
