@import '../../../styles/mixins';
@import '../../../styles/variables';

$block: '.#{$ns}tabs-block';

#{$block} {
    $class: &;

    &__block-title {
        margin-bottom: $indentSM;

        &_centered {
            text-align: center;

            & > * {
                margin: 0 auto;
            }
        }
    }

    &__tabs {
        &_centered {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
        }
    }

    &__row_reverse {
        flex-direction: row-reverse;

        #{$class}__content-wrapper {
            margin: $indentSM $indentM 0 0;
        }
    }

    &__image {
        width: 100%;
        height: auto;
        object-fit: cover;
        display: block;
    }

    &__image,
    &__media {
        @include image-shadow();
    }

    &__caption {
        @include text-size(body-2);

        margin: $indentXXS 0 0;
        color: var(--yc-color-text-secondary);
    }

    &__content {
        display: flex;
        flex-direction: column;

        &_centered {
            margin: 0 auto;
        }
    }

    &__col {
        &_centered {
            margin: 0 auto;
        }
    }

    &__content-wrapper {
        &_margin {
            margin: $indentSM 0 0 $contentMargin;
        }
    }

    &__content-title {
        margin: 0 auto $indentXXS;

        @include add-specificity(&) {
            & > * {
                @include heading4();
            }
        }
    }

    @media (max-width: map-get($gridBreakpoints, 'md')) {
        &__tabs {
            display: flex;
            flex-wrap: nowrap;
            justify-content: flex-start;
            overflow: auto;
            margin-left: -$indentL;
            margin-right: -$indentL;
            padding-left: $indentL;
            padding-right: $indentL - $indentXXXS;
        }

        &__content-wrapper {
            &_margin {
                margin: 0 0 $contentMargin 0;
            }
        }

        &__row_reverse {
            flex-direction: column-reverse;

            #{$class}__content > * {
                margin-top: $indentM;
                padding-bottom: 0;
            }
        }
    }

    @media (max-width: map-get($gridBreakpoints, 'sm')) {
        &__tabs {
            margin-left: -$indentSM;
            margin-right: -$indentSM;
            padding-left: $indentSM;
            padding-right: $indentXS;
        }
    }

    @include animate(#{$class}__media);
    @include animate(#{$class}__image);
}
