@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

$block: '.#{$ns}store-viewer';

#{$block} {
    background-color: var(--g-color-base-float-heavy);
    border-radius: 12px;
    border: 1px solid var(--g-color-line-generic);
    overflow: hidden;
    opacity: 0.3;

    &:hover {
        opacity: 1;
    }

    &_open {
        opacity: 1;

        #{$block}__box {
            display: block;
        }
    }

    &__head {
        padding: 12px;
    }

    &__box {
        max-height: 80vh;
        overflow: scroll;
        display: none;
        min-width: 400px;
        max-width: 80vw;
        padding: 12px;
        background-color: var(--g-color-base-float);
        white-space: pre;
    }
}
