@import '../../../styles/variables';
@import '../../../styles/mixins';

$block: '.#{$ns}share-block';

#{$block} {
    &__title {
        @include add-specificity(&) {
            @include heading5();

            text-align: center;
            font-weight: normal;
        }
    }

    &__items {
        display: flex;
        justify-content: center;
        margin-top: $indentXS;
    }

    &__item {
        @include add-specificity(&) {
            display: flex;
            justify-content: center;
            align-items: center;
            // redefine highly specific rule for button with icon from uikit
            /* stylelint-disable-next-line declaration-no-important */
            width: 48px !important;
            height: 48px;
            // redefine highly specific rule for button with icon from uikit
            /* stylelint-disable-next-line declaration-no-important */
            border-radius: 100% !important;

            &_type_vk {
                background-color: var(--pc-color-vk);
            }

            &_type_facebook {
                background-color: var(--pc-color-facebook);
            }

            &_type_twitter {
                background-color: var(--pc-color-twitter);
            }

            &_type_telegram {
                background-color: var(--pc-color-telegram);
            }

            &_type_telegram {
                background-color: var(--pc-color-telegram);
            }

            &_type_linkedin {
                background-color: var(--pc-color-linkedin);
            }

            @include add-specificity(&) {
                &:before {
                    border-radius: 100%;
                }
            }

            &:hover {
                &:before {
                    //redefine component style
                    /* stylelint-disable-next-line declaration-no-important */
                    background-color: var(--g-color-base-generic) !important;
                    border-radius: 100%;
                }
            }

            & + & {
                margin-left: $indentXXS;
            }

            svg {
                color: var(--g-color-base-background);
            }
        }
    }

    @media (max-width: map-get($gridBreakpoints, 'sm')) {
        &__items {
            flex-wrap: wrap;
        }
    }
}
