@import '../../../styles/mixins';
@import '../../../styles/variables';

$block: '.#{$namespace}media';

#{$block} {
    $root: &;

    &__text-content {
        padding-top: $indentXS;
    }

    &__container {
        position: relative;
        height: 100%;
    }

    &__border {
        position: relative;
        height: 100%;
        width: 100%;
        border-radius: calc(var(--bc-border-radius) + 1px);
        border: 1px solid var(--yc-color-line-generic);
        overflow: hidden;
    }

    &__content {
        position: relative;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
        object-fit: cover;

        border-radius: var(--bc-border-radius);
    }

    &__video {
        height: 100%;

        > video {
            width: 100%;
            height: auto;
            border-radius: var(--bc-border-radius);
        }
    }

    &__image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: var(--bc-border-radius);
    }
}
