@import '../../../styles/variables';

$block: '.#{$ns}media-content';

#{$block} {
    margin-right: $indentXL;

    height: 100%;
    align-items: center;
    display: flex;

    @media (max-width: map-get($gridBreakpoints, 'md')) {
        margin-right: 0;
        padding-bottom: $indentM;
    }
}
