@import '../../../styles/mixins.scss';
@import '../../../styles/variables.scss';

$block: '.#{$ns}brand-footer';

#{$block} {
    $borderHeight: 1px;

    @include text-body-2();

    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 72px;
    margin-top: var(--header-height);
    box-sizing: content-box;
    border-top: $borderHeight solid;
    border-bottom: $borderHeight solid transparent;
    transition: color 0.5s ease-out, border-color 0.5s ease-out;

    &::after {
        position: absolute;
        top: -$borderHeight;
        right: 0;
        left: 0;
        height: $borderHeight;
        background: linear-gradient(
            270deg,
            rgba(228, 106, 68, 1) 0%,
            rgba(242, 159, 85, 1) 46.62%,
            rgba(255, 212, 102, 1) 100%
        );

        opacity: 0;
        transition: opacity 0.5s ease-out;
        content: '';
    }

    &_theme {
        &_light {
            color: var(--g-color-text-secondary);
            border-top-color: var(--g-color-private-black-200);

            &:hover {
                color: var(--g-color-text-primary);
                border-top-color: transparent;

                &::after {
                    opacity: 1;
                }
            }
        }

        &_dark {
            color: var(--g-color-private-white-700);
            border-top-color: var(--g-color-private-white-100);

            &:hover {
                color: var(--g-color-private-white-1000-solid);
                border-top-color: transparent;

                &::after {
                    opacity: 0.6;
                }
            }
        }
    }

    &__content {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: $indentXXXS;
    }

    &__brand-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 24px;
        height: 24px;

        & > svg {
            width: 100%;
            height: 100%;
        }
    }

    &__brand-name {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 90px;
        height: 20px;

        & > svg {
            width: 100%;
            height: 100%;
        }
    }

    @media (max-width: map-get($gridBreakpoints, 'md')) {
        @include text-body-1();

        height: 52px;
        border-bottom-width: 0;

        &__brand-icon {
            width: 20px;
            height: 20px;
        }

        &__brand-name {
            width: 72px;
            height: 16px;
        }
    }
}
