@import '../../../../../../styles/variables';
@import '../../../../../../styles/mixins';
@import '../../../../../../styles/root';
@import '../../../../../../styles/yfm.scss';
@import '../mixins.scss';

.custom-navigation-item {
    @include custom-block-title($selector: '.g-button__text');

    &__popover {
        background: var(--g-color-private-white-1000-solid);

        code {
            display: block;
            white-space: pre-wrap;
            font-size: 12px;
            padding: 12px;
        }
    }
}
