@import '../../../../styles/variables.scss';
@import '../../../../styles/mixins.scss';

$block: '.#{$ns}price-description';

#{$block} {
    margin-bottom: $indentXXS;

    &__title,
    &__description,
    &__detailed-title {
        &_size_l {
            @include text-size(header-1);
        }

        &_size_m {
            @include text-size(body-2);
        }

        &_size_s {
            @include text-size(body-1);
        }
    }

    &__main-title {
        font-weight: var(--pc-text-accent-font-weight);

        &_color_cornflower {
            color: var(--g-color-base-brand);
        }

        &_color_black {
            color: var(--g-color-text-primary);
        }
    }

    &__title {
        display: flex;
        padding: $indentXS 0 $indentXXS 0;
        align-items: flex-end;
    }

    &__description {
        font-weight: 400;
    }

    &__detailed-title {
        margin-left: $indent4XS;
    }

    &__label {
        &_size_s {
            @include text-size(body-2);
        }

        &_size_xs {
            @include text-size(body-1);
        }
    }

    @media (max-width: map-get($gridBreakpoints, 'sm')) {
        min-width: 160px;
    }
}
