@mixin pc-colors-dark {
    --pc-color-base-silver: #bcc0c4;
    --pc-color-base-gold: #ffde5d;
    --pc-color-base-asphalt: #474d52;
    --pc-color-base-tomato: #ff6b6a;
    --pc-color-base-copper: #ffb95a;
    --pc-color-base-mint: #7fd68e;
    --pc-color-base-sky: #69b4ff;
    --pc-color-base-neon: #b384ff;

    --pc-color-highlight-silver: #616366;
    --pc-color-highlight-gold: #99832e;
    --pc-color-highlight-asphalt: #5d656b;
    --pc-color-highlight-tomato: #998585;
    --pc-color-highlight-copper: #7f7262;
    --pc-color-highlight-mint: #758978;
    --pc-color-highlight-sky: #94a2af;
    --pc-color-highlight-neon: #aea6ba;
}
