@mixin pc-colors-light {
    --pc-color-base-silver: #eff2f8;
    --pc-color-base-gold: #ffdb4d;
    --pc-color-base-asphalt: #313538;
    --pc-color-base-tomato: #ff5958;
    --pc-color-base-copper: #ffab3b;
    --pc-color-base-mint: #5ecf71;
    --pc-color-base-sky: #49a0f6;
    --pc-color-base-neon: #9f6fee;

    --pc-color-highlight-silver: #edf2f7;
    --pc-color-highlight-gold: #fff1b8;
    --pc-color-highlight-asphalt: #eaebeb;
    --pc-color-highlight-tomato: #ffdede;
    --pc-color-highlight-copper: #ffe6c4;
    --pc-color-highlight-mint: #ccf0d2;
    --pc-color-highlight-sky: #d6e9fd;
    --pc-color-highlight-neon: #ece2fc;

    --pc-color-accent-silver: #969a9e;
    --pc-color-accent-gold: #ffdb4d;
    --pc-color-accent-asphalt: #313538;
    --pc-color-accent-tomato: #ff5958;
    --pc-color-accent-copper: #ffab3b;
    --pc-color-accent-mint: #5ecf71;
    --pc-color-accent-sky: #49a0f6;
    --pc-color-accent-neon: #9f6fee;

    --pc-color-accent-hover-silver: #727578;
    --pc-color-accent-hover-gold: #edbe28;
    --pc-color-accent-hover-asphalt: #000000;
    --pc-color-accent-hover-tomato: #ee4f4e;
    --pc-color-accent-hover-copper: #f28d04;
    --pc-color-accent-hover-mint: #3bbc51;
    --pc-color-accent-hover-sky: #2180de;
    --pc-color-accent-hover-neon: #7b47cf;

    --pc-color-text-silver: #969a9e;
    --pc-color-text-gold: #ebb409;
    --pc-color-text-asphalt: #313538;
    --pc-color-text-tomato: #ff5958;
    --pc-color-text-copper: #ffab3b;
    --pc-color-text-mint: #5ecf71;
    --pc-color-text-sky: #49a0f6;
    --pc-color-text-neon: #9f6fee;
}
