@mixin pc-colors-social {
    // Social palette
    --pc-color-telegram: #51a4db;
    --pc-color-facebook: #4968ad;
    --pc-color-twitter: #4aa0eb;
    --pc-color-vk: #436eab;
    --pc-color-youtube: #eb3323;
    --pc-color-github: #25292e;
    --pc-color-rss: #f29c39;
    --pc-color-linkedin: #0a66c2;
}
