@import '../../../styles/mixins';
@import '../../../styles/variables';

$block: '.#{$ns}video-button';

#{$block} {
    @include reset-button-style();
    @include focusable();

    $size: 64px;

    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: $size;
    height: $size;
    border-radius: 50%;
    transition:
        color 0.4s,
        background-color 0.4s;

    &_theme_blue {
        color: var(--g-color-base-background);
        background-color: var(--g-color-base-brand);

        &:hover {
            background-color: var(--g-color-base-brand-hover);
        }
    }

    &_theme_grey {
        color: var(--pc-text-header-color);
        background-color: $videoPlayButtonGrey;
    }

    &_theme_custom {
        color: var(--pc-video-button-triangle-color);
        background-color: var(--pc-video-button-circle-color);

        &:hover {
            color: var(
                --pc-video-button-triangle-hover-color,
                var(--pc-video-button-triangle-color)
            );
            background-color: var(
                --pc-video-button-circle-hover-color,
                var(--pc-video-button-circle-color)
            );
        }
    }

    &_text {
        padding: $indentXS $indentM;
        font-weight: 400;
        font-size: 24px;
        line-height: 32px;

        width: auto;
        height: auto;
    }

    &__icon {
        margin-left: 1px;
    }

    @media only screen and (max-width: map-get($gridBreakpoints, 'sm')) {
        &_text {
            font-size: 20px;
            line-height: 24px;
        }
    }
}
