@import '../../../styles/variables.scss';
@import '../../../styles/mixins';
@import '../../styles/variables.scss';

$block: '.#{$ns}partner-block';

#{$block} {
    &__logo {
        margin-bottom: $indentXXS;
        height: 32px;
        object-fit: contain;
    }
}
