@import '../../../styles/mixins';
@import '../../../styles/variables';

$block: '.#{$ns}icons-block';

#{$block} {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    @include text-size(body-2);

    &_size_s {
        #{$block}__item {
            width: 96px;
        }
    }

    &_size_m {
        #{$block}__item {
            width: 128px;
        }
    }

    &_size_l {
        #{$block}__item {
            width: 160px;
        }
    }

    &__header {
        width: 100%;
        padding-bottom: $indentSM;
        text-align: center;

        display: flex;
        flex-direction: column;
        align-items: center;
        height: max-content;
    }

    &__text {
        margin: $indentXXXS 0 0;
        text-align: center;
    }

    &__item {
        @include reset-link-style();
        margin: 0 $indentXXXS $indentSM;
    }

    a#{$block}__item {
        @include focusable();
        border-radius: var(--g-focus-border-radius);
    }

    &__image {
        max-width: 100%;
        margin: 0 auto;
        display: block;
    }

    @media (max-width: map-get($gridBreakpoints, 'sm') - 1) {
        &__item {
            max-width: calc(50% - #{$indentXXXS} * 2);
        }
    }
}
