@import '../../../styles/mixins';
@import '../../../styles/variables';

$block: '.#{$ns}header-block';

#{$block} {
    @include add-theme();
    @include background();

    &__content {
        @include background();

        position: relative;
        padding: $indentXXL 0;
    }

    &__subtitle {
        margin-top: $indentS;
        font-weight: normal;
    }

    @media (max-width: map-get($gridBreakpoints, 'sm')) {
        &__content {
            padding: $indentXL 0;
        }
    }
}
