@import '../../../styles/variables.scss';
@import '../../../styles/mixins.scss';

$block: '.#{$ns}icon-wrapper';

#{$block} {
    $root: &;
    $iconSizePositionTop: 32px;
    $iconSizePositionLeftSizeS: 22px;
    $iconSizePositionLeftSizeM: 28px;
    $iconSizePositionLeftSizeL: 30px;

    display: flex;
    flex-direction: column;

    &_icon-position {
        &_left {
            flex-direction: row;
        }
    }

    &__icon-container {
        flex-shrink: 0;
    }

    &__icon {
        max-width: 100%;
        margin-bottom: $indentXXS;
        height: $iconSizePositionTop;
        object-fit: contain;
        display: block;

        &_icon-position {
            &_left {
                height: $iconSizePositionLeftSizeS;
                width: $iconSizePositionLeftSizeS;
                margin: 1px $indentXXS 1px 0;

                &#{$root}__icon_size {
                    &_m {
                        height: $iconSizePositionLeftSizeM;
                        width: $iconSizePositionLeftSizeM;

                        margin-bottom: $indent4XS;
                        margin-top: $indent4XS;
                    }

                    &_l {
                        height: $iconSizePositionLeftSizeL;
                        width: $iconSizePositionLeftSizeL;

                        margin-bottom: $indent4XS;
                        margin-top: $indent4XS;
                    }
                }
            }
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        flex: 1 0 auto;

        &_icon-position {
            &_left {
                @include add-specificity(&) {
                    flex: 1 0 0;
                }
            }
        }
    }
}
