@import '../../../styles/variables.scss';
@import '../../../styles/mixins.scss';

$block: '.#{$ns}icon-wrapper';

#{$block} {
    $iconSizePositionTop: 32px;
    $iconSizePositionLeft: 22px;

    display: flex;
    flex-direction: column;

    &_icon-position {
        &_left {
            flex-direction: row;
        }
    }

    &__icon-container {
        flex-shrink: 0;
    }

    &__icon {
        max-width: 100%;
        margin-bottom: $indentXXS;
        height: $iconSizePositionTop;
        object-fit: contain;
        display: block;

        &_icon-position {
            &_left {
                height: $iconSizePositionLeft;
                width: $iconSizePositionLeft;
                margin: 1px $indentXXS 1px 0px;
            }
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        flex: 1 0 auto;
    }
}
