@import '../../../styles/variables.scss';
@import '../../../styles/mixins.scss';

$block: '.#{$ns}icon-wrapper';
$iconElement: '#{$block}__icon';
$contentElement: '#{$block}__content';

$iconSizePositionTop: 32px;
$iconSizePositionLeft: 22px;

#{$block} {
    display: flex;
    flex-direction: column;

    &_icon-position {
        &_left {
            flex-direction: row;

            #{$iconElement} {
                height: $iconSizePositionLeft;
                width: $iconSizePositionLeft;
                margin: 1px $indentXXS 1px 0px;
            }

            #{$contentElement} {
                flex: 1 0 0;
            }
        }
    }
}

#{$iconElement} {
    max-width: 100%;
    margin-bottom: $indentXXS;
    height: $iconSizePositionTop;
    object-fit: contain;
    display: block;
}

#{$contentElement} {
    display: flex;
    flex-direction: column;
}
