@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

$block: '.#{$ns}source-code';

#{$block} {
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 12px;

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__title {
        font-weight: 500;
        font-size: 13px;
        line-height: 18px;
        color: var(--g-color-text-secondary);
    }

    &__code {
        @include custom-scrollbar();
        white-space: pre;
        @include text-code-inline-1;
        padding: 6px 8px;
        overflow: auto;
        border: 1px solid var(--g-color-line-generic);
        border-radius: 6px;
        position: relative;
        flex: 1;
    }

    &__content {
        height: 100%;
        margin: 0;
        padding: 0;
        background: transparent;
        border: none;
        outline: none;
        resize: none;
        font-family: inherit;
        font-size: inherit;
        line-height: inherit;
        color: inherit;
    }

    &__controls {
        display: flex;
        flex-direction: row;
        gap: 8px;
        align-items: center;
    }
}
