@import '../../../../../styles/variables.scss';
@import '../../../../../styles/mixins.scss';

.navigation-item {
    position: relative;

    display: flex;
    align-items: center;

    &_type_link {
        @include navigation-item();
    }

    &_type_button {
        display: inline-block;
    }

    &__arrow {
        position: relative;
        top: -2px;

        width: 9px;
        height: 9px;
        margin-left: 5px;
    }

    &__icon {
        width: 20px;
        height: 20px;
        margin-right: $indentXXXS;

        border-radius: 50%;
        object-fit: cover;
    }

    &__dropdown {
        margin-left: 7px;

        color: var(--yc-color-text-secondary);
    }
}
