@import '../../../../../../styles/variables';
@import '../../../../../../styles/mixins';
@import '../../../../../../styles/root';
@import '../../../../../../styles/yfm.scss';
@import '../mixins.scss';

.custom-header {
    @include custom-block-title($selector: '.pc-header-block__title > span');

    @include add-specificity(&) {
        code {
            color: var(--custom-code-color);
        }
    }

    &__code {
        @include image-shadow();

        display: flex;
        margin-top: 24px;
        background: var(--g-color-base-background);
        overflow: hidden;

        &-yfm {
            display: block;
            width: 100%;

            code {
                display: block;
                width: 100%;
                height: 100%;
                white-space: pre-wrap;
                padding: 24px;
            }
        }
    }
}
