@import '../../../../../../styles/variables';
@import '../../../../../../styles/mixins';
@import '../../../../../../styles/root';
@import '../../../../../../styles/yfm.scss';
@import '../mixins.scss';

.custom-header {
    @include custom-block-title($selector: '.pc-header-block__title > span');

    &__code {
        @include image-shadow();

        display: flex;
        margin-top: 24px;
        background: var(--g-color-private-white-1000-solid);
        overflow: hidden;

        &-yfm {
            display: block;
            width: 100%;

            code {
                display: block;
                width: 100%;
                height: 100%;
                white-space: pre-wrap;
                padding: 24px;
            }
        }
    }
}
