@import '../../../styles/variables.scss';

$block: '.#{$ns}overflow-scroller';

#{$block} {
    display: flex;
    align-items: center;
    position: relative;
    overflow-x: hidden;

    &__container {
        width: 100%;
        position: relative;

        &_padding {
            &-left {
                padding-left: $indentSM;
            }
            &-right {
                padding-right: $indentSM;
            }
        }
    }

    &__wrapper {
        position: relative;
        transition: left 0.6s;
    }

    &__arrow {
        position: absolute;
        z-index: 10;
        top: 0;

        display: flex;
        justify-content: flex-end;
        align-items: center;

        width: 32px;
        height: calc(100% - 1px);

        cursor: pointer;

        color: var(--g-color-text-secondary);

        &_type_left {
            left: 0;

            transform: rotate(180deg);
        }

        &_type_right {
            right: 0;
        }
    }
}
