@import '../../../styles/variables.scss';

$block: '.#{$ns}height-calculator';

#{$block} {
    position: relative;
    width: 100%;
    opacity: 0;
    pointer-events: none;

    &__item-wrapper {
        position: absolute;
    }
}
