@import '../../../../styles/mixins';
@import '../../../../styles/variables';

$block: '.#{$ns}tabs-block-text-content';

#{$block} {
    display: flex;
    flex-direction: column;

    &_centered {
        margin: 0 auto;
    }

    &__wrapper {
        margin: $indentSM 0 0 $contentMargin;

        &_reverse {
            margin: $indentSM $indentM 0 0;
        }

        &_no-image {
            margin: 0;
        }
    }

    @media (max-width: map-get($gridBreakpoints, 'md')) {
        &__wrapper {
            margin: 0 0 $contentMargin 0;

            &_reverse {
                margin-top: $indentM;
                padding-bottom: 0;
            }
        }
    }
}
