@import '../../../../styles/variables.scss';

@mixin dynamic-form-custom {
    --block-name-font-size: var(--g-text-display-1-font-size);
    --block-name-line-height: var(--g-text-display-1-line-height);
    --property-name-font-size: var(--g-text-body-1-font-size);
    --property-name-line-height: var(--g-text-body-1-line-height);

    --input-min-width: 150px;
    --property-title-width: 96px;

    // blocks list level definitons
    --button-height: 48px;
    --icon-size: 28px;
    --icon-margin: 8px;
    --property-font-weight: 500;

    --header-text-size: var(--block-name-font-size);
    --header-line-height: var(--block-name-line-height);

    // block top level properties definitions
    .df-use-search .df-use-search {
        --button-height: 28px;
        --icon-size: 16px;
        --icon-margin: 0px;

        --header-text-size: var(--property-name-font-size);
        --header-line-height: var(--property-name-line-height);
        --property-font-weight: 400;
    }

    .df-row {
        width: inherit;
    }

    .df-row__left {
        width: var(--property-title-width);
    }

    .df-row__title {
        font-weight: var(--property-font-weight);
        white-space: nowrap;
    }

    // fix for dynamic form's accordeon nested textareas
    .df-simple-vertical-accordeon {
        textarea {
            min-width: var(--input-min-width);
            min-height: var(--input-min-width);
        }
    }

    .df-simple-vertical-accordeon__header .yc-button,
    .df-simple-vertical-accordeon__title {
        font-size: var(--header-text-size);
        line-height: var(--header-line-height);
    }

    .df-simple-vertical-accordeon__header {
        .yc-button {
            --g-button-height: var(--button-height);

            display: flex;
            justify-content: center;
            align-items: center;

            .yc-button__icon-inner > svg {
                width: var(--icon-size);
                height: var(--icon-size);
                color: var(--g-color-text-hint);
            }

            .yc-button__icon_side_right ~ .yc-button__text {
                margin-right: var(--icon-margin);
            }
        }
    }

    .df-simple-vertical-accordeon__body {
        margin-top: 0px;
        padding-top: $indentXXS;
    }

    .df-use-search {
        margin: $indent4XS 0;
    }

    .df-simple-vertical-accordeon__body,
    .df-group-indent > .df-use-search {
        margin-top: 0;
        margin-left: 1px;
        padding-top: $indent4XS;
        padding-bottom: $indent4XS;
        padding-left: $indentXXS;
        border-left: 1px solid var(--g-color-line-generic-accent);
    }

    .df-simple-vertical-accordeon_branch .df-simple-vertical-accordeon__body {
        padding-left: $indentXXS;
    }

    .g-select,
    .yc-text-input {
        min-width: var(--input-min-width);
        width: 100%;
    }
}
