@import '../../../../styles/variables.scss';
@import '../../../../styles/mixins.scss';
@import './dynamic-form-custom.scss';

$block: '.#{$ns}editor-form';

#{$block} {
    @include dynamic-form-custom();

    & + & {
        margin-top: $indentXXS;
    }

    &__block-form {
        margin-bottom: $indentXS;
    }
}
