@import '../../../../styles/variables.scss';
@import '../../../../styles/mixins.scss';
@import './dynamic-form-custom.scss';

$block: '.#{$ns}editor-form';

#{$block} {
    @include dynamic-form-custom();

    & + & {
        margin-top: $indentXXS;
    }

    &__tabs {
        --g-color-base-brand: var(--pc-color-base-neon);
        margin-bottom: $indentS;
    }

    &__block-form {
        margin-bottom: $indentXS;
    }

    &_yaml-editor-enabled {
        height: 100%;
    }
}
