$block: '.editor';

#{$block} {
    height: 100vh;

    &__other {
        padding: 16px;
        display: flex;
        flex-direction: column;
        gap: 8px;
        align-items: flex-start;
    }
}
