@import '../../../styles/variables';
@import '../../styles/mixins.scss';
@import '../../../styles/mixins';

$block: '.#{$ns}.simple-block';

#{$block} {
    $class: &;
    @include animate(#{$class}__animate-block, 0.5s);

    &__animate-block {
        margin-top: $indentS;
    }

    &__description {
        margin-top: $indentXS;
        font-size: var(--yc-text-body2-font-size);
    }
}
