@import '../../../styles/variables.scss';
@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';
@import '../../../styles/mixins';

$block: '.#{$ns}Media';

#{$block} {
    overflow: hidden;

    &__image,
    &__video-wrap,
    &__youtube {
        display: flex;
        align-items: center;
    }

    &__image {
        &_withVideo {
            display: none;
        }
    }

    &__video-wrap {
        position: relative;
        overflow: hidden;
    }

    &__image {
        width: 100%;
    }

    &__video {
        width: 100%;
    }

    &__react-player {
        display: flex;
        position: relative;
        justify-content: center;
        overflow: hidden;
    }
}
