@import '../../../styles/variables.scss';
@import '../../../styles/mixins';

$block: '.#{$ns}Media';

#{$block} {
    overflow: hidden;

    // fix for safari iOS < 13
    &__youtube {
        border-radius: $borderRadius;
        overflow: hidden;
        display: flex;
        align-items: center;
    }

    &__fullscreen-image-cover {
        object-fit: cover;
        object-position: top;
    }
}
