@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

$block: '.#{$ns}global-config';

#{$block} {
    &__title {
        padding: 12px;
        margin-top: 8px;
        @include text-subheader-3;
        border-bottom: 1px solid var(--g-color-line-generic);
    }
}
