@import '../../styles/root.scss';
@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

$block: '.#{$ns}tree';

#{$block} {
    padding: 12px;

    &__head {
        margin-bottom: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__type {
        color: var(--g-color-text-dark-secondary);
    }

    &__title {
        @include overflow-ellipsis();
    }

    &__item {
        padding: 8px;
        margin-bottom: 8px;

        &_selected {
            border: 1.5px var(--g-color-line-brand) solid;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__children {
        margin-top: 8px;
    }
}
