@import '../../../../styles/variables.scss';
@import '../../../../styles/mixins';

$block: '.#{$ns}media-component-iframe';

#{$block} {
    overflow: hidden;

    &_margins {
        margin: $indentSM;

        #{$block}__item {
            border-radius: 0;
        }
    }

    &_justify-content {
        &_left {
            text-align: left;
        }

        &_center {
            text-align: center;
        }

        &_right {
            text-align: right;
        }
    }

    #{$block}__iframe {
        border-radius: 0;
    }

    &__item {
        &_fixed-width {
            width: 100%;
        }

        &_fixed-height {
            height: 100%;
        }
    }
}
