@import '../../../styles/mixins';
@import '../../../styles/variables';
@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

$block: '.#{$ns}companies-block';

#{$block} {
    $class: &;

    text-align: center;

    &__images {
        margin-top: $indentM;
    }

    &__image {
        max-width: 100%;
    }

    @include animate-fade(#{$class}__images);
}
