@import '../../../styles/mixins';
@import '../../../styles/variables';

$block: '.#{$ns}companies-block';

#{$block} {
    $class: &;

    text-align: center;

    &__title {
        @include heading2();
    }

    &__images {
        margin-top: $indentM;
    }

    &__image {
        max-width: 100%;
    }

    @include animate-fade(#{$class}__images);
}
