@import '../../../styles/mixins';
@import '../../../styles/variables';

$block: '.#{$ns}FullScreenImage';
$closeButtonSize: 36px;

#{$block} {
    &__image {
        cursor: pointer;
    }

    &__modal-image {
        display: block;
        max-width: $newContentWidth;
        max-height: 70vh;

        overflow: hidden;

        border-radius: $borderRadius;
    }

    @media (max-width: map-get($gridBreakpoints, 'xl')) {
        &__modal-image {
            width: 100%;
        }
    }

    @media (max-width: map-get($gridBreakpoints, 'lg')) {
        &__image {
            pointer-events: none;
        }
    }
}
