@import '../../../styles/mixins';
@import '../../../styles/variables';

$block: '.#{$ns}fullscreen-image';
$closeButtonSize: 36px;

#{$block} {
    &__image {
        cursor: pointer;

        &-wrapper {
            position: relative;

            &:hover {
                #{$block}__icon-wrapper {
                    opacity: 1;
                }
            }
        }
    }

    &__modal-content {
        position: relative;
        border-radius: $borderRadius;
    }

    &__modal-image {
        display: block;
        max-width: $newContentWidth;
        max-height: 70vh;

        overflow: hidden;
    }

    &__modal .g-modal__content,
    &__modal-image {
        border-radius: $borderRadius;
    }

    &__icon-wrapper {
        @include reset-button-style();
        @include focusable();

        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        right: $indentXS;
        top: $indentXS;
        width: $closeButtonSize;
        height: $closeButtonSize;
        border-radius: 8px;
        background-color: var(--g-color-base-simple-hover-solid);
        cursor: pointer;
        opacity: 0;
        transition: 0.3s;

        &_visible {
            opacity: 1;
        }
    }

    &__icon {
        color: var(--g-color-text-hint);

        &_hover:hover {
            color: var(--g-color-text-secondary);
        }
    }

    @media (max-width: map-get($gridBreakpoints, 'xl')) {
        &__modal-image {
            width: 100%;
        }
    }

    @media (max-width: map-get($gridBreakpoints, 'lg')) {
        &__image {
            pointer-events: none;
        }

        &__icon-wrapper {
            display: none;
        }

        &__modal {
            display: none !important; /* stylelint-disable-line declaration-no-important */
        }
    }
}
