@import '../../../styles/variables';
@import '../../../styles/mixins';

$block: '.#{$ns}control';

#{$block} {
    $transitionTime: 0.2s;

    %transition-color {
        transition: color $transitionTime;
    }

    %transition-opacity {
        transition: opacity $transitionTime;
    }

    display: flex;
    justify-content: center;
    align-items: center;

    transition: color $transitionTime;

    @include reset-button-style();
    @include islands-focus();

    &_size {
        &_xs {
            width: 24px;
            height: 24px;
        }

        &_s {
            width: 28px;
            height: 28px;
        }

        &_m {
            width: 32px;
            height: 32px;
        }

        &_l {
            width: 36px;
            height: 36px;
        }
    }

    &_theme {
        &_primary {
            color: var(--g-color-text-complementary);

            &:hover {
                color: var(--g-color-text-primary);
            }
        }

        &_secondary {
            color: var(--g-color-text-secondary);

            &:hover {
                color: var(--g-color-text-complementary);
            }
        }

        &_link {
            color: var(--g-color-text-complementary);

            &:hover {
                color: var(--g-color-text-link-hover);
            }
        }

        &_accent {
            @extend %transition-opacity;

            opacity: 0.7;
            color: var(--g-color-base-danger-heavy);

            &:hover {
                opacity: 1;
            }
        }

        &_primary,
        &_secondary,
        &_link {
            @extend %transition-color;
        }
    }

    &_disabled {
        cursor: default;

        color: var(--g-color-text-secondary);

        &:hover {
            color: var(--g-color-text-secondary);
        }
    }

    @media (max-width: map-get($gridBreakpoints, 'md') - 1) {
        &:hover {
            color: inherit;
        }
    }
}
