@import '../../../styles/mixins.scss';
@import '../../../styles/variables.scss';

$block: '.#{$ns}banner-card';

@mixin subtitle {
    @include heading5();
    font-weight: normal;
}

#{$block} {
    $class: &;
    $borderRadius: $borderRadius;

    &_theme_dark {
        --g-color-line-focus: var(--pc-color-line-focus-dark);

        @include add-specificity(&) {
            #{$class}__title,
            #{$class}__subtitle {
                color: var(--g-color-text-light-primary);

                p {
                    color: var(--g-color-text-light-primary);
                }
            }
        }
    }

    &__title {
        @include add-specificity(&) {
            @include heading2();

            a {
                @include link();
            }
        }
    }

    &__content {
        width: 100%;
        border-radius: $borderRadius;
        display: flex;

        min-height: 320px;
    }

    &__info,
    &__image {
        flex: 1;
    }

    &__info {
        padding: 32px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: baseline;
    }

    &__subtitle {
        @include add-specificity(&) {
            display: inline-block;
            margin-top: $indentXXXS;
            @include subtitle();

            & p {
                @include subtitle();
            }
        }
    }

    &__button {
        @include add-specificity(&) {
            margin-top: 28px;
        }
    }

    &__image {
        border-top-right-radius: $borderRadius;
        border-bottom-right-radius: $borderRadius;

        @include card-image();

        img {
            object-fit: cover;
            object-position: left;
        }
    }

    &_media-view_fit {
        #{$block}__image {
            img {
                object-fit: contain;
            }
        }
    }

    @media (max-width: map-get($gridBreakpoints, 'sm') - 1) {
        &__image {
            display: none;
        }
    }
}
