@import '../../../../styles/variables';
@import '../../../../styles/mixins';

$block: '.#{$ns}navigation-popup';

#{$block} {
    $offset: calc($gridGutter * 2 * -1);

    margin-left: $offset;
    margin-top: $offset;

    @include navigation-popup();
    @include text-size(body-2);

    &__list {
        @include reset-list-style();
    }

    &__link {
        height: 36px;
        line-height: 20px;

        border-radius: 8px;

        &:hover {
            color: var(--g-color-text-primary);
            background-color: var(--g-color-base-simple-hover);
        }
    }
}
