@import '../../../../styles/variables';
@import '../../../../styles/mixins';

$block: '.#{$ns}navigation-popup';

#{$block} {
    $offset: calc($gridGutter * 2 * -1);

    margin-left: $offset;
    margin-top: -#{$indentXS};

    @include desktop-only();
    @include navigation-popup();

    &__link {
        height: 36px;
        padding: $indentXXXS $indentXXS;

        border-radius: 8px;

        &:hover {
            color: var(--yc-color-text-primary);
            background-color: var(--yc-color-base-simple-hover);
        }
    }
}
