@import '../../../../styles/mixins.scss';
@import '../../../../styles/variables.scss';

$block: '.#{$ns}item-wrap';

#{$block} {
    height: 100%;
}

.pc-page-constructor_with-editor #{$block} {
    cursor: pointer;
}
