@import '../../../styles/variables';
@import '../../../styles/mixins';
@import '../../../styles/root';
@import '../../../styles/yfm.scss';

$block: '.#{$ns}page-constructor';

#{$block} {
    @include font-feature-settings();

    margin-top: 0;
    background-color: var(--g-color-base-background);
    z-index: 10;

    &__wrapper {
        position: relative;
    }

    &__background {
        @include add-specificity(&) {
            top: calc(-1 * var(--header-height));
        }
    }
}
