@import '../../../../styles/variables.scss';
@import '../../../../styles/mixins.scss';
@import '../../styles/mixins.scss';
@import '../../styles/variables.scss';

$block: '.#{$ns}control-panel';

#{$block} {
    display: flex;
    justify-content: center;
    width: 100%;
    height: var(--pc-editor-header-height);
    padding: $indentXXXS $indentS;
    background-color: var(--g-color-base-background);
    border: 1px var(--g-color-line-generic);
    border-style: solid none;

    &__icon {
        display: flex;
        align-items: center;
    }

    &__radio-button {
        margin-left: $indentXXS;
        //align for icons in radio buttons
        .yc-radio-button__option {
            display: flex;
            align-items: center;
        }
    }

    &__mode-switch {
        display: flex;
        align-items: center;
    }
}
