@import '../../../../styles/variables.scss';
@import '../../../../styles/mixins.scss';
@import '../../styles/mixins.scss';
@import '../../styles/variables.scss';

$block: '.#{$ns}control-panel';

#{$block} {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    height: var(--pc-editor-header-height);
    padding: $indentXXXS $indentS;
    background-color: var(--g-color-base-background);
    border: 1px var(--g-color-line-generic);
    border-style: solid none;

    &__icon {
        display: flex;
        align-items: center;
    }

    &__radio-button {
        //align for icons in radio buttons
        .g-radio-button__option {
            display: flex;
            align-items: center;
        }
    }

    &__switch-container {
        display: flex;
        align-items: center;
        place-self: center;
        gap: 12px;
    }

    &__theme-switch {
        place-self: center end;
        display: flex;
        gap: 12px;
        align-items: center;
    }
}
