@import '../../../styles/mixins';
@import '../../../styles/variables.scss';

$block: '.#{$ns}table';

#{$block} {
    $root: &;
    @include text-size(body-2);

    &__table {
        width: 100%;
        overflow-x: auto;
    }

    &__row {
        display: flex;
        &:first-child {
            font-weight: var(--g-text-accent-font-weight);

            #{$root}__cell {
                border-bottom-color: var(--g-color-line-generic-active);
                align-items: flex-end;
                padding-top: 0;
            }
        }
    }

    &__cell {
        padding: $indentXXS 0;
        display: flex;
        flex: 1;
        align-items: center;
        border-bottom: 1px solid var(--g-color-line-generic);

        &:first-child {
            flex: 2;
        }

        &_justify {
            &_center {
                justify-content: center;
                text-align: center;
            }
            &_right {
                justify-content: flex-end;
                text-align: right;
            }
        }
    }

    &__marker {
        display: inline-block;

        &_type_disk {
            width: 16px;
            height: 16px;
            border-radius: 100%;
            flex-shrink: 0;
            box-sizing: border-box;

            &#{$root}__marker_index_0 {
                background-color: var(--g-color-base-neutral-light);
            }

            &#{$root}__marker_index_1 {
                background-color: var(--g-color-base-brand);
            }

            &#{$root}__marker_index_2 {
                border: 1px solid var(--g-color-text-hint);
            }
        }

        &_tick {
            color: var(--g-color-base-generic-medium);

            &_check {
                color: var(--g-color-base-brand);
            }
        }
    }

    &__legend {
        display: flex;
        margin-top: $indentS;
        color: var(--g-color-text-secondary);
    }

    &__legend-item {
        display: flex;
        align-items: center;

        & + & {
            margin-left: $indentM;
        }
    }

    &__legent-item-text {
        @include add-specificity(&) {
            margin-left: 6px;
        }
    }

    @media (max-width: map-get($gridBreakpoints, 'sm')) {
        &__cell {
            min-width: 120px;

            &:first-child {
                min-width: 230px;
            }
        }
    }
}
