@import '../../../styles/mixins.scss';
@import '../../../styles/variables.scss';

$block: '.#{$namespace}posts-error';

#{$block} {
    $root: &;

    &__container {
        display: flex;
        flex-direction: column;

        justify-content: center;
        align-items: center;
        padding-top: $indentSM;
        padding-bottom: $indentXL;
    }

    &__title,
    &__subtitle {
        text-align: center;
        word-wrap: break-word;
        max-width: 400px;
        width: 100%;
    }

    &__title {
        margin-top: $indentSM;
        @include text-size(display-2);
        font-weight: var(--yc-text-accent-font-weight);
    }

    &__subtitle {
        margin-top: $indentXS;
        @include text-size(body-3);
    }

    &__button {
        padding: $indentSM 0 $indentL;
    }
}
