@import '../../../../styles/variables.scss';
@import '../../../../styles/mixins.scss';

$block: '.#{$ns}oneof-dynamic-field';

#{$block} {
    &__radio {
        margin-bottom: 12px;
    }

    &__select {
        min-width: 80px;
    }
}
