.pc-fg-one-type-group {
    padding: 12px;

    &:not(&:nth-last-child(1)) {
        margin-bottom: 12px;
    }

    .pc-fg-section {
        &:before {
            content: none;
        }
    }

    &__card-header {
        display: flex;
    }

    &__title {
        margin-bottom: 12px;
        display: block;
        flex-grow: 1;

        &::first-letter {
            text-transform: uppercase;
        }
    }
}
