@import '../../../styles/variables.scss';
@import '../../../styles/mixins.scss';

$block: '.#{$ns}content-list';
$iconSizeL: 22px;
$iconSizeS: 20px;
$iconSizeXS: 18px;
$marginIconSizeS: 2px;
$marginIconSizeL: 1px;

#{$block} {
    &_size_l {
        #{$block}__title {
            @include text-size(header-1);

            margin: 0 0 $indentXXXS;
        }

        #{$block}__icon {
            width: $iconSizeL;
            height: $iconSizeL;
            margin-top: $marginIconSizeL;
            margin-bottom: $marginIconSizeL;
            margin-right: $indentXXS;
        }

        #{$block}__item {
            &:not(:last-child) {
                margin-bottom: $indentXS;
            }

            &_without-title {
                &:not(:last-child) {
                    margin-bottom: $indentXXS;
                }

                #{$block}__icon {
                    width: $iconSizeS;
                    height: $iconSizeS;
                    margin-top: 0;
                    margin-bottom: 0;
                    margin-right: $indentXXXS;
                }
            }
        }
    }

    &_size_s {
        #{$block}__title {
            @include text-size(subheader-3);

            margin: 0 0 calc(#{$indentXXXS} / 2);
        }

        #{$block}__icon {
            width: $iconSizeS;
            height: $iconSizeS;
            margin-top: $marginIconSizeS;
            margin-bottom: $marginIconSizeS;
            margin-right: $indentXXXS;
        }

        #{$block}__item {
            &:not(:last-child) {
                margin-bottom: $indentXXS;
            }

            &_without-title {
                &:not(:last-child) {
                    margin-bottom: $indentXXXS;
                }

                #{$block}__icon {
                    width: $iconSizeXS;
                    height: $iconSizeXS;
                    margin-top: 0;
                    margin-bottom: 0;
                }
            }
        }
    }

    &_size_s {
        @include add-specificity(&) {
            #{$block}__text {
                @include text-size(body-1);
            }
        }
    }

    &__icon {
        display: block;
    }

    &__item {
        display: flex;
    }

    #{$block}__title {
        .yfm {
            font-size: inherit;
            line-height: inherit;
        }
    }
}
