$root: '.docs-decorator';

#{$root}#{$root}#{$root}#{$root}#{$root} {
    .sbdocs-wrapper {
        padding: 0 8px;
    }

    .sbdocs-content {
        max-width: 1680px;
    }

    .innerZoomElementWrapper {
        overflow: hidden;
    }
}
