.pc-fg-text {
    display: flex;
    align-items: center;
    min-height: 28px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;

    margin-bottom: 8px;

    &:last-child {
        margin-bottom: 0;
    }

    &__note {
        display: flex;
    }

    &__note-icon {
        margin-right: 4px;
        min-width: 14px;
        min-height: 14px;
    }
}
