@import '../../../../styles/variables';
@import '../../../../styles/mixins';

$block: '.#{$ns}navigation-item';

#{$block} {
    cursor: pointer;

    &:last-child {
        margin-bottom: 0;
    }

    @include islands-focus();
    @include reset-link-style();

    &__content {
        &:not(#{&}_type_button) {
            &:hover,
            &:active {
                color: var(--g-color-text-link);
            }
        }
    }

    &_menu-layout {
        &_desktop {
            height: var(--header-height);
            line-height: var(--header-height);
            margin-bottom: 0;
        }

        &_mobile {
            margin-bottom: $indentSM;
        }

        &_dropdown {
            margin-bottom: 0;

            #{$block}__content_type_link {
                padding: $indentXXXS $indentXXS;
            }
        }
    }
}
