@import '../../../../styles/variables';
@import '../../../../styles/mixins';

$block: '.#{$ns}navigation-item';

#{$block} {
    cursor: pointer;

    &:last-child {
        margin-bottom: 0;
    }

    @include islands-focus();
    @include reset-link-style();

    &__content {
        &:hover,
        &:active {
            color: var(--yc-color-text-link);
        }
    }

    &__slider-container {
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
    }

    &__slider {
        width: 100%;
        height: 2px;

        background-color: var(--yc-color-text-link);
    }

    &_menu-layout {
        &_desktop {
            height: var(--header-height);
            line-height: var(--header-height);
            margin-bottom: 0;
        }

        &_mobile {
            margin-bottom: $indentSM;
        }

        &_dropdown {
            margin-bottom: 0;
        }
    }
}
