@import '../../../styles/variables.scss';
@import '../../../styles/mixins.scss';

$block: '.#{$ns}background-card';

@mixin theme() {
    &_theme {
        &_light {
            background-color: var(--pc-color-base-silver);
        }

        &_dark {
            background-color: var(--pc-color-base-asphalt);
        }
    }
}

#{$block} {
    position: relative;
    @include theme();

    &_padding {
        &_s {
            padding-bottom: 80px;
        }

        &_m {
            padding-bottom: 160px;
        }

        &_l {
            padding-bottom: 240px;
        }

        &_xl {
            padding-bottom: 320px;
        }
    }

    &_border_none {
        box-shadow: none;
        cursor: default;
        border: none;
    }

    &__content {
        display: flex;
    }

    &__image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        img {
            object-fit: cover;
            object-position: left;
        }
    }
}

a#{$block} {
    @include theme();
}
