@import '../../../styles/variables';
@import '../../../styles/mixins';

$block: '.#{$ns}quote';

@mixin comma-type($name, $opening, $closing, $left-offset) {
    &_#{$name} {
        @include add-specificity(&) {
            &::before {
                position: absolute;
                left: $left-offset;
                content: $opening;
            }

            #{$block}__text {
                &::after {
                    content: $closing;
                    left: auto;
                }
            }
        }
    }
}

#{$block} {
    $arrowWidth: 16px;
    $gap: 5px;

    @include add-theme();
    @include card();
    @include slider-shadow-fix(&);

    display: flex;
    min-height: 400px;
    height: 100%;

    &__logo {
        height: $indentL;
    }

    &__content-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        width: calc(50% + #{$gap} * 2);
        margin-right: $gap;
        padding: $indentL $indentM $indentL $indentL;
    }

    &__image-wrapper {
        flex: 1;
        margin-left: $gap;
        overflow: hidden;
        @include card-image();
    }

    &__content {
        margin-top: $indentSM;
        position: relative;
        @include text-size(body-3);

        &_quote-type {
            @include comma-type('chevron', '«', '»', -10px);
            @include comma-type('english-double', '“', '”', -8px);
        }

        .yfm {
            @include text-size(body-3);
            > * {
                display: inline;
            }

            &:after {
                position: relative;
                left: -5px;
            }
        }
    }

    &__image {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__author-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        margin-top: $indentS;
    }

    &__author {
        max-width: calc(60% - #{$indentS});
        margin-right: $indentS;
    }

    &__link-button {
        /* stylelint-disable declaration-no-important */
        &_theme_dark {
            color: var(--g-color-base-background) !important;

            &:before {
                border-color: var(--g-color-base-background) !important;
            }
        }
        /* stylelint-enable declaration-no-important */
    }

    @media (max-width: map-get($gridBreakpoints, 'lg')) {
        &__author-wrapper {
            flex-direction: column;
        }

        &__author {
            margin-right: 0;
            margin-bottom: $indentM;
            max-width: initial;
        }

        &__link-button {
            align-self: flex-start;
        }
    }

    @media (max-width: map-get($gridBreakpoints, 'md')) {
        &__content-wrapper {
            width: calc(75% + #{$gap} * 2);
        }
    }

    @media (max-width: map-get($gridBreakpoints, 'sm')) {
        &__image-wrapper {
            display: none;
        }

        &__content-wrapper {
            padding: $indentM;
        }

        &__content-wrapper {
            width: 100%;
        }
    }
}
