@import '../../../styles/mixins';
@import '../../../styles/variables';

$block: '.#{$ns}news-card';

#{$block} {
    &__date {
        display: block;
        margin-top: 0;
        margin-bottom: $indentXXXS;
        color: var(--yc-color-text-secondary);
    }

    &__title {
        @include heading4();
    }
}
