@import '../../styles/variables.scss';

$block: '.#{$ns-form-builder}option-header';

#{$block} {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
}
