@import '../../../styles/root.scss';
@import '../../../styles/variables.scss';
@import '../../../styles/mixins.scss';

$block: '.#{$ns}field-base';

#{$block} {
    $class: &;
    padding: 16px 12px;
    border-bottom: 1px solid var(--g-color-line-generic);

    position: relative;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 8px;

    &:hover {
        & > #{$class}__top > #{$class}__button {
            opacity: 1;
        }
    }

    &_expandable {
        flex-direction: column;
        gap: 16px;

        & > #{$block}__top {
            width: 100%;
            flex-basis: initial;
        }
        & > #{$block}__children {
            width: 100%;
        }
    }

    &__top {
        display: flex;
        align-items: center;
        gap: 4px;
        flex: 0 0 64px;
        word-break: break-all;
    }

    &__children {
        flex: 2 1 auto;
    }

    &__foldable {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;
    }

    &__non-foldable {
        &:before {
            //content: '•';
            position: absolute;
            right: calc(100% + 5px);
        }
    }

    &__button {
        transition: opacity 0.3s ease;
        opacity: 0;
    }

    &__title {
        @include text-body-2;
        margin: 5px 0;

        &_size {
            &_s {
                @include text-body-1;
            }

            &_m {
                @include text-body-2;
            }

            &_l {
                @include text-body-3;
            }
        }
    }

    &:last-child {
        border-bottom: none;
    }
}
