@import '../../../styles/root.scss';
@import '../../../styles/variables.scss';
@import '../../../styles/mixins.scss';

$block: '.#{$ns}field-base';

#{$block} {
    $class: &;

    position: relative;

    &:hover {
        & > #{$class}__top > #{$class}__button {
            opacity: 1;
        }
    }

    &__top {
        display: flex;
        align-items: center;
        gap: 4px;
        margin-bottom: 8px;
    }

    &__foldable {
        display: flex;
        align-items: center;
        cursor: pointer;
    }

    &__non-foldable {
        &:before {
            //content: '•';
            position: absolute;
            right: calc(100% + 5px);
        }
    }

    &__button {
        transition: opacity 0.3s ease;
        opacity: 0;
    }

    &__title {
        @include text-body-2;

        &_size {
            &_s {
                @include text-body-1;
            }
            &_m {
                @include text-body-2;
            }
            &_l {
                @include text-body-3;
            }
        }
    }

    margin-top: 20px;

    &:first-child {
        margin-top: 0;
    }

    &__arrow-toggle {
        //position: absolute;
        //right: calc(100%);
    }
}
