@import '../../../styles/mixins.scss';
@import '../../../styles/variables.scss';

$block: '.#{$ns}header-slider-block';

#{$block} {
    &__item {
        display: block;
        height: 100%;
        overflow: hidden;
        //safari fix
        transform: translateZ(0);
    }

    &__item-content {
        height: inherit;
        overflow: hidden;

        @include add-specificity(&) {
            margin: 0 0 $indentXS;
        }

        .#{$ns}header-block__content {
            padding: 115px 0;
            display: flex;
            align-items: center;
        }

        .#{$ns}Grid,
        .container-fluid,
        .container-fluid .row {
            height: inherit;
        }

        .#{$ns}header-block__media {
            padding-bottom: $indentL;
            padding-top: $indentXS;
        }
    }

    @media (max-width: $headerSliderLargeBreakpoint) and (min-width: map-get($gridBreakpoints, 'sm')) {
        &__item-content {
            .#{$ns}header-block__content {
                padding-left: $indentM;
                padding-right: $indentM;
            }
        }
    }

    @media (max-width: map-get($gridBreakpoints, 'sm')) {
        &__item-content {
            .#{$ns}header-block__content {
                padding-left: 0;
                padding-right: 0;
            }

            .#{$ns}header-block__container-fluid {
                padding-left: $indentXS + $indentXXXS;
            }
        }
    }
}
