@import '../../../styles/mixins.scss';
@import '../../../styles/variables.scss';

$block: '.#{$ns}header-slider-block';

.HeaderSliderBlock {
    $padding: 112px;

    margin: $indentXS $indentXS 0;

    &__item {
        height: 100%;
        border-radius: $borderRadius;
        overflow: hidden;
        //safari fix
        transform: translateZ(0);

        border: none;
        outline: none;
    }

    &__item-content {
        margin-top: 0;
        height: inherit;

        > div {
            display: flex;
            align-items: center;
            padding: $padding 0;
        }

        h1 {
            @include text-size(display-4);
        }
    }

    @media (min-width: map-get($gridBreakpoints, 'sm')) and (max-width: $headerSliderLargeBreakpoint) {
        &__item-content > div {
            padding: $padding 56px;
        }
    }

    @media (max-width: map-get($gridBreakpoints, 'sm')) {
        margin: $indentXS 8px 0;
    }
}
