@import '../../../styles/mixins.scss';
@import '../../../styles/variables.scss';

$block: '.#{$ns}header-slider-block';

#{$block} {
    &__wrapper {
        margin: $indentXS $indentXS 0;
    }

    &__item {
        display: block;
        height: 100%;
        overflow: hidden;
        //safari fix
        transform: translateZ(0);
    }

    &__item-content {
        margin: 0;
        height: inherit;
        border-radius: $borderRadius;
        overflow: hidden;

        .#{$ns}header-block__content {
            padding: 115px 0;
            display: flex;
            align-items: center;
        }

        .#{$ns}Grid,
        .container-fluid,
        .container-fluid .row {
            height: inherit;
        }

        .#{$ns}header-block__media {
            padding-bottom: $indentL;
        }
    }

    @media (max-width: $headerSliderLargeBreakpoint) and (min-width: map-get($gridBreakpoints, 'sm')) {
        &__item-content {
            .#{$ns}header-block__content {
                padding-left: 60px;
                padding-right: 60px;
            }
        }
    }

    @media (max-width: map-get($gridBreakpoints, 'md')) {
        &.#{$ns}SliderBlock {
            margin-left: -$indentXXXS;
            padding-left: 0;
            width: calc(100% + #{$indentXXXS});
        }
    }

    @media (max-width: map-get($gridBreakpoints, 'sm')) {
        &__wrapper {
            margin: $indentXS 8px 0;
        }

        &__item-content {
            .#{$ns}header-block__content {
                padding-left: 0;
                padding-right: 0;
            }
        }

        .slick-track {
            .slick-slide {
                max-width: 100%;
            }
        }
    }
}
