@import '../../../styles/variables.scss';
@import '../../../styles/mixins.scss';

$block: '.#{$ns}block-base-edit';

#{$block} {
    $controlColor: var(--yc-color-line-selection-active);

    cursor: pointer;
    position: relative;

    &__controls {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        // pointer-events: none;
        display: none;
        border: 4px solid $controlColor;
        border-radius: 8px;
        z-index: 100;

        &_visible {
            display: block;
        }
    }

    &__delete {
        position: absolute;
        top: 0;
        right: 0;
        width: 24px;
        height: 24px;
        color: $controlColor;
    }
}
