@import '../../../styles/variables.scss';
@import '../../../styles/mixins.scss';

$block: '.#{$ns}block-base-edit';

#{$block} {
    $controlIconHeight: 24px;
    $controlsIndent: $indentXXS;
    $controlColor: var(--yc-color-promo-base-neon);

    cursor: pointer;
    position: relative;

    &__controls {
        position: absolute;
        width: calc(100% + $controlsIndent * 2);
        height: calc(100% + $controlsIndent * 2);
        top: -#{$controlsIndent};
        left: -#{$controlsIndent};
        border-radius: 8px;
        z-index: 100;

        &_active {
            border: 4px solid $controlColor;
        }
    }

    &__controls-content {
        display: flex;
        position: absolute;
        bottom: calc(($controlsIndent + $controlIconHeight) * -1);
        left: 50%;
        transform: translateX(-50%);
    }

    &__control {
        display: flex;
        justify-content: center;
        align-items: center;
        width: $controlIconHeight;
        height: $controlIconHeight;
        border-radius: 4px;
        background-color: var(--yc-color-promo-highlight-neon);

        &:not(:first-child) {
            margin-left: $indentXXS;
        }

        &:hover {
            transform: scale(1.1);
        }
    }
}
