@import '../../../styles/mixins.scss';
@import '../../../styles/variables.scss';

$block: '.#{$ns}header-block';

#{$block} {
    margin-top: $indentXS;

    &__content {
        position: relative;
        height: 100%;

        &_offset_large {
            padding: calc(#{$indentXXXL} - #{$indentXXL}) 0 $indentXS;
            margin-bottom: -$indentL;
        }

        &_theme_dark {
            #{$block}__title,
            #{$block}__description .yfm,
            #{$block}__description .yfm > * {
                color: var(--yc-color-text-light-primary);
            }
        }

        &_vertical-offset {
            margin: $indentXS 0;

            &_s {
                padding: $indentL 0;
            }

            &_m {
                padding: calc(#{$indentXXL} - #{$indentXS}) 0;
            }

            &_l {
                padding: calc(#{$indentXXXL} - #{$indentXS}) 0;
            }

            &_xl {
                padding: calc(#{$indent4XL} - #{$indentXS}) 0;
            }
        }
    }

    &_has-background {
        height: calc(100% + #{$indentXXL});
    }

    &__title {
        @include heading1();

        position: relative;
        font-weight: 500;
    }

    &__description {
        @include heading5();

        margin-top: $indentXS;
        font-weight: normal;

        * {
            @include text-size(body3);
        }
    }

    &__buttons {
        margin-top: $indentM;
    }

    &__button {
        margin-top: 0;
        margin-right: $indentXS;
    }

    &__media {
        position: absolute;
        display: none;
        top: 0;
        right: 0;
        width: 50%;
        height: 100%;
        overflow: hidden;
        object-fit: cover;

        border-radius: $borderRadius;

        &_s {
            width: 32%;
        }
    }

    &__video {
        height: 100%;

        > video {
            border-radius: $borderRadius;
            width: 100%;
            height: auto;
        }
    }

    &__image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: $borderRadius;
    }

    &__content,
    &__content-outer {
        position: relative;
        z-index: 10;
    }

    &__background,
    &__background-media {
        //safari layers rerender fix
        z-index: 5;
    }

    &__background {
        position: absolute;
        top: 0;
        left: calc(-#{$indentXXL} / 2);
        width: calc(100% + #{$indentXXL});
        height: 100%;
        border-radius: $borderRadius;
    }

    &__overtitle {
        @include text-size(body3);

        margin-bottom: $indentXXXS;
        font-weight: 400;
    }

    div#{$block}__background-media {
        top: -84px;
    }

    @media (max-width: map-get($gridBreakpoints, 'xxl')) {
        &__background {
            width: calc(100% + (#{$indentXS} * 2));
            left: -$indentXS;
        }
    }

    @media (max-width: map-get($gridBreakpoints, 'sm')) {
        &__background {
            left: calc(-#{$indentXXS});
            width: calc(100% + (#{$indentXXS} * 2));
        }

        &__button + &__button {
            margin-top: $indentXS;
        }
    }

    @media (max-width: map-get($gridBreakpoints, 'md')) {
        &_has-media {
            #{$block}__content {
                padding-top: $indentL;
            }
        }

        &_has-background {
            #{$block}__background-img {
                display: none;
            }

            #{$block}__content_vertical-offset {
                &_s,
                &_m,
                &_l,
                &_xl {
                    padding: calc(#{$indentXXL} - #{$indentXS}) 0;
                }
            }
        }
    }

    @media (min-width: map-get($gridBreakpoints, 'md')) {
        &__media {
            display: block;
        }

        &_has-media {
            #{$block}__content-inner {
                padding-right: $indentL;
            }
        }
    }
}
