:root {
    --header-height: 64px;

    --yc-text-caption-font-size: 11px;
    --yc-text-caption-line-height: 16px;

    --yc-text-body3-font-size: 17px;
    --yc-text-body3-line-height: 24px;

    --yc-text-display1-font-size: 28px;
    --yc-text-display1-line-height: 36px;

    --yc-text-display2-font-size: 32px;
    --yc-text-display2-line-height: 40px;

    --yc-text-display3-font-size: 40px;
    --yc-text-display3-line-height: 48px;

    --yc-text-display4-font-size: 48px;
    --yc-text-display4-line-height: 52px;

    --yc-text-disclaimer-font-size: 9px;
    --yc-text-disclaimer-line-height: 12px;
}

.yc-root {
    --pc-color-sfx-shadow: var(--yc-color-private-black-50);
    --pc-color-line-generic-active-solid: #b3b3b3;
}
