:root {
    --header-height: 64px;
}

.yc-root {
    --yc-text-accent-font-weight: 500;

    // cross-browser transparent color
    --bc-transparent: rgba(255, 255, 255, 0);
    --bc-image-padding: 4px;

    --bc-border-radius: var(--pc-border-radius, 24px);
    --bc-color-sfx-shadow: var(--yc-color-base-simple-hover);
    --bc-color-line-generic-active-solid: #b3b3b3;
    --bc-color-base-float-hover: var(--yc-color-base-float);
    --bc-monochrome-button: #262626;
    --bc-monochrome-button-hover: #393939;
    --bc-text-header-color: var(--yc-color-text-primary);

    &.yc-root_theme_dark {
        --bc-color-sfx-shadow: var(--yc-color-sfx-shadow);
        --bc-color-line-generic-active-solid: #6c6c70;
        --bc-color-base-float-hover: var(--yc-color-base-float-hover);
    }
}
