@import '~@doc-tools/transform/dist/css/yfm.css';
@import './mixins.scss';
@import './variables.scss';

.yfm_constructor {
    $block: &;
    font-family: var(--yc-font-family-sans);

    code,
    kbd,
    pre {
        font-family: var(--yc-font-family-monospace);
    }

    @include add-specificity(&) {
        h1,
        h2,
        h3,
        h4,
        h5,
        h6,
        span,
        p,
        li {
            color: var(--yc-color-text-primary);
        }

        p,
        li {
            margin: 0 0 $indentXXS;
        }

        p strong {
            font-weight: 500;
        }
    }

    &_theme_dark {
        p {
            color: var(--yc-color-text-light-primary);
        }
    }

    &_footnote_text p,
    &_footnote_page p {
        opacity: 0.5;
    }

    &_footnote_text p {
        @include text-size(body-2);
    }

    &_footnote_page p {
        @include text-size(body-1);
    }

    &_list_style ul {
        padding-left: $indentS;
    }

    &_list_style_dash ul {
        list-style-type: none;
        position: relative;

        li:before {
            content: '\2014';
            position: absolute;
            margin-left: -$indentS;
        }
    }

    a {
        @include link();
    }
}

.yfm_constructor_table {
    $firstColumnWidth: 172px;
    $columnWidth: 120px;

    table {
        border: 0;
        table-layout: fixed;
    }

    thead,
    tr {
        background-color: transparent !important; /* stylelint-disable-line declaration-no-important */
    }

    tbody tr {
        border-top: 1px solid var(--yc-color-line-generic);
    }

    td,
    th {
        min-width: $columnWidth;
        width: $columnWidth;
        box-sizing: content-box;
        white-space: inherit !important; /* stylelint-disable-line declaration-no-important */

        &:first-child {
            min-width: $firstColumnWidth;
            width: $firstColumnWidth;
        }
    }

    th {
        text-align: left !important; /* stylelint-disable-line declaration-no-important */
    }
}
