@import '~@diplodoc/transform/dist/css/yfm.css';
@import './mixins.scss';
@import './variables.scss';

.yfm_constructor {
    $block: &;
    font-family: var(--g-font-family-sans);
    color: var(--g-color-text-primary);

    code,
    kbd,
    pre {
        font-family: var(--g-font-family-monospace);
        color: var(--g-color-text-primary);
    }

    @include add-specificity(&) {
        h1,
        h2,
        h3,
        h4,
        h5,
        h6,
        span,
        p,
        li {
            color: var(--g-color-text-primary);
        }

        &_notice {
            li,
            p {
                color: var(--g-color-text-secondary);
            }
        }

        &_meta_info {
            p {
                color: var(--pc-media-card-meta-info-color);
                font-weight: var(--pc-text-accent-font-weight);
            }
        }

        ul,
        ol,
        li,
        p {
            margin: 0 0 $indentXXS;
        }

        p strong {
            font-weight: var(--pc-text-accent-font-weight);
        }

        &_size_s {
            ul,
            ol,
            li,
            p {
                margin-bottom: $indentXXXS;
            }
        }

        &_theme_dark {
            p {
                color: var(--g-color-text-light-primary);
            }
        }
    }

    &_list_style ul {
        padding-left: $indentS;
    }

    &_list_style_dash ul {
        list-style-type: none;
        position: relative;

        li:before {
            content: '\2014';
            position: absolute;
            margin-left: -$indentS;
        }
    }

    a {
        @include link();
        @include focusable(0, 'box-shadow');
        border-radius: var(--g-focus-border-radius);
    }

    table {
        color: var(--g-color-text-primary);
        border: 1px solid var(--g-color-line-generic);
        background: var(--g-color-base-background);
    }

    thead,
    table tr:nth-child(2n) {
        background-color: var(--g-color-base-generic);
    }
}

.yfm_constructor_table {
    $firstColumnWidth: 172px;
    $columnWidth: 120px;

    table {
        border: 0;
        table-layout: fixed;
    }

    thead,
    tr {
        /* stylelint-disable declaration-no-important */
        background-color: transparent !important;
    }

    tbody tr {
        border-top: 1px solid var(--g-color-line-generic);
    }

    td,
    th {
        min-width: $columnWidth;
        width: $columnWidth;
        box-sizing: content-box;
        white-space: inherit !important;

        &:first-child {
            min-width: $firstColumnWidth;
            width: $firstColumnWidth;
        }
    }

    th {
        text-align: left !important;
    }
    /* stylelint-enable declaration-no-important */
}
