@import '../../../../styles/variables';
@import '../../../../styles/mixins';

$block: '.#{$ns}navigation';

#{$block} {
    display: flex;
    justify-content: center;
    align-items: center;

    height: var(--header-height);

    background-color: var(--g-color-base-background);

    &_with-border {
        box-shadow: inset 0 -1px 0 var(--g-color-line-generic);
    }
}
