@import '../../../../styles/variables';
@import '../../../../styles/mixins';

$block: '.#{$ns}navigation';

#{$block} {
    @include text-size(body-2);

    &__links {
        position: relative;

        display: flex;
        align-items: center;
        @include reset-list-style();
    }

    &__links-item {
        position: relative;

        &:not(:last-child) {
            margin-right: $indentS;
        }
    }
}
