@import '../../../styles/mixins.scss';
@import '../../../styles/variables.scss';

$block: '.#{$ns}form-block';

$textPadding: 10px;
$maxLargeWidth: 609px;
$yandexFormDesktopMinWidth: 475px;
$largeBorderRadius: 32px;

#{$block} {
    $root: &;

    border-radius: $largeBorderRadius;
    position: relative;

    &__title {
        margin: 0 0 $indentSM $textPadding;

        &_mobile {
            margin-left: $indent4XS;
        }
    }

    &__full-form {
        background-color: var(--g-color-base-background);
        padding: $indentL $indentXL $indentL calc(#{$indentXL} - #{$textPadding});
        border-radius: $borderRadius;
    }

    &__media {
        position: absolute;
        inset: 0;
        border-radius: $largeBorderRadius;
    }

    &__image {
        height: 100%;
        width: 100%;
        object-fit: cover;
        object-position: top;
    }

    &__row {
        &_direction {
            &_form-content {
                flex-direction: row-reverse;
            }

            &_center {
                flex-direction: column;

                #{$root}__content-wrapper {
                    margin-bottom: $indentM;
                }
            }
        }
    }

    &:not(#{$root}_with-background) {
        #{$root}__full-form {
            box-shadow:
                0 4px 24px var(--pc-color-sfx-shadow),
                0 2px 8px var(--pc-color-sfx-shadow);
        }
        #{$root}__row {
            &_direction {
                &_form-content {
                    #{$root}__content-wrapper {
                        padding: $indentL 0 $indentXL $indentXL;
                    }
                }
                &_content-form {
                    #{$root}__content-wrapper {
                        padding: $indentL $indentXL $indentXL 0;
                    }
                }
            }
        }
    }

    &_with-background {
        #{$root}__row {
            &_direction {
                &_form-content {
                    #{$root}__form-wrapper {
                        padding: $indentXS 0 $indentSM $indentXS;
                    }
                }
                &_content-form {
                    #{$root}__form-wrapper {
                        padding: $indentXS $indentXS $indentSM 0;
                    }
                }
                &_form-content,
                &_content-form {
                    #{$root}__content-wrapper {
                        padding: $indentXL;
                    }
                }
                &_center {
                    padding-top: $indentXL;
                    padding-bottom: $indentL;
                }
            }
        }
    }

    $labelsBlock: '.#{$ns}content-labels';
    @media (min-width: map-get($gridBreakpoints, 'lg')) {
        &_form-type_yandex {
            #{$root}__row {
                &_direction {
                    &_form-content,
                    &_content-form {
                        #{$root}__content-col {
                            flex: 1 0 0;
                        }
                    }

                    &_form-content,
                    &_content-form,
                    &_center {
                        #{$root}__form {
                            min-width: $yandexFormDesktopMinWidth;
                        }
                        #{$root}__form-col {
                            max-width: initial;
                            width: fit-content;
                        }
                    }
                }
            }
        }
    }

    @media (max-width: calc(map-get($gridBreakpoints, 'lg') - 1px)) and (min-width: map-get($gridBreakpoints, 'md')) {
        &__row {
            flex-direction: column;
        }

        &_with-background,
        &:not(#{$root}_with-background) {
            #{$root}__row {
                #{$root}__form-wrapper,
                #{$root}__content-wrapper {
                    max-width: $maxLargeWidth;
                }

                #{$root}__center,
                #{$root}__form-wrapper,
                #{$root}__content-wrapper {
                    margin: 0 auto;
                    padding-right: 0;
                    padding-left: 0;
                }

                #{$root}__form-wrapper {
                    padding-top: 0;
                }

                #{$root}__content-wrapper {
                    text-align: center;
                    padding-bottom: $indentM;

                    #{$labelsBlock} {
                        justify-content: center;
                    }
                }
            }
        }

        &:not(#{$root}_with-background) &__row {
            #{$root}__content-wrapper {
                padding: 0 0 $indentM 0;
            }
        }
    }

    @media (max-width: calc(map-get($gridBreakpoints, 'md') - 1px)) {
        &__full-form {
            padding: $indentM;
        }

        &_with-background,
        &:not(#{$root}_with-background) {
            #{$root}__row {
                padding: 0;

                #{$root}__form-wrapper,
                #{$root}__content-wrapper {
                    padding: 0;
                }

                #{$root}__content-wrapper {
                    padding-bottom: $indentM;
                    margin-bottom: 0;
                }
            }
        }

        &_with-background {
            padding: 0 $indentXXXS;

            #{$root}__row {
                padding-top: $indentM;
                padding-bottom: $indentM;

                &_direction {
                    &_form-content,
                    &_content-form,
                    &_center {
                        #{$root}__content-wrapper {
                            padding-right: $indentXS;
                            padding-left: $indentXS;
                        }
                    }

                    &_form-content,
                    &_content-form {
                        padding-top: $indentM;
                    }
                }
            }
        }
    }
}
