@import '../../../../../styles/mixins.scss';
@import '../../../../../styles/variables.scss';

.pc-lang-switcher {
    cursor: pointer;

    .pc-content-wrapper__text {
        @include text-size(body-2);
    }

    &:hover .pc-content-wrapper__text {
        color: var(--g-color-text-secondary);
    }

    @media (max-width: map-get($gridBreakpoints, 'md')) {
        & {
            width: 100%;
        }
    }
}
