.g-root {
    --g-color-base-selection: var(--g-color-private-black-200);
    --g-color-base-selection-hover: var(--g-color-private-black-300);
    --g-color-base-brand: rgb(38, 38, 38); // --g-color-private-black-850-solid only light theme
    --g-color-base-brand-hover: rgb(
        76,
        76,
        76
    ); // --g-color-private-black-700-solid only light theme
    --g-color-text-brand-contrast: var(--g-color-text-light-primary);
    --g-color-text-brand-heavy: rgb(76, 76, 76);
    --g-color-line-brand: var(--g-color-text-primary);
}
