body {
    --pc-editor-header-height: 48px;
    --pc-editor-code-header-height: 36px;
    --pc-editor-divider-width: 12px;
    --pc-editor-left-column-width: calc(400px + var(--pc-editor-divider-width));
    --pc-editor-base-color: var(--g-color-base-brand);
    --pc-editor-control-color: var(--g-color-base-brand);
    --pc-editor-control-icon-color: var(--g-color-text-dark-primary);
}
