@import '../../../styles/variables.scss';
@import '../../../styles/mixins';

$block: '.#{$ns}link-block';

#{$block} {
    $root: &;
    margin-top: $indentXS;

    &__link {
        @include link();

        display: flex;
        align-items: center;

        &_theme_dark {
            color: var(--yc-color-text-light-primary);

            &:hover {
                color: var(--yc-color-text-light-secondary);
            }
        }

        &_has-arrow {
            display: inherit;
            white-space: nowrap;

            &:hover,
            &:active {
                --pc-text-header-color: inherit;
                color: var(--yc-color-text-link);
            }

            .yc-icon {
                vertical-align: text-bottom;
            }

            #{$root}__content {
                white-space: normal;
            }
        }

        &:hover {
            #{$root}__arrow {
                transform: translateX(5px) rotate(-90deg);
            }
        }

        &#{&}_has-arrow#{&}_theme_dark {
            &:hover {
                color: var(--yc-color-text-light-primary);
            }
        }
    }

    &__arrow {
        position: relative;
        margin-left: 2px;

        transition: transform 0.3s $ease-out-cubic;
        transform: rotate(-90deg);
    }

    &_size {
        &_l {
            @include text-size(body-3);
        }

        &_m {
            @include text-size(body-2);
        }

        &_s {
            @include text-size(body-1);
        }
    }
}
