name: Release alpha version

on:
  workflow_dispatch:
    inputs:
      manualPackageVersion:
        type: string
        required: false
        description: 'If you have any troubles with release you can set version of package manually, e.g. 3.0.0-alpha.0'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - run: |
          if [ "${{ github.event.inputs.manualPackageVersion }}" != "" ]; then
            if [[ "${{ github.event.inputs.manualPackageVersion }}" == *"alpha"* ]]; then
              echo "manualPackageVersion is assigned correctly!"
            else
              echo "manualPackageVersion set incorrectly! Check that is contains alpha in it's name"
              exit 1
            fi
          fi
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: 14
          registry-url: 'https://registry.npmjs.org'
      - run: npm ci
        shell: bash
      - run: npm test
        shell: bash
      - name: Bump and commit version
        run: |
          git config --local user.email "111915794+gravity-ui-bot@users.noreply.github.com"
          git config --local user.name "gravity-ui-bot"

          echo ${{ github.event.inputs.manualPackageVersion }}

          if [ "${{ github.event.inputs.manualPackageVersion }}" == "" ]; then
            npm version prerelease --preid=alpha --git-tag-version=false
          else
            npm version ${{ github.event.inputs.manualPackageVersion }} --git-tag-version=false
          fi
      - name: Publish version
        run: npm publish --tag alpha --access public
        env:
          NODE_AUTH_TOKEN: ${{ secrets.GRAVITY_UI_BOT_NPM_TOKEN }}
        shell: bash
