@import '../../../styles/variables.scss';
@import '../../../styles/mixins.scss';

$block: '.#{$ns}block-base';

#{$block} {
    $block: &;

    --anchor-offset: #{$indentL};

    @include block();

    @include indents(&);

    @include add-specificity(&) {
        @media only screen and (max-width: map-get($gridBreakpoints, 'sm')) {
            padding-top: $indentM;
            padding-bottom: $indentM;

            //&:first-child {
            //    padding-top: var(--pc-first-block-mobile-indent, #{$indentXL});
            //}
        }
    }

    &_reset-paddings#{$block} {
        @include add-specificity(&) {
            padding: 0;
            margin: 0;
        }
    }

    @media (max-width: map-get($gridBreakpoints, 'sm')) {
        --anchor-offset: #{$indentM};
    }
}
