@import '../../../styles/variables.scss';
@import '../../../styles/mixins.scss';

$block: '.#{$ns}block-base';

#{$block} {
    $root: &;
    --anchor-offset: #{$indentL};

    @include block();

    @media (max-width: map-get($gridBreakpoints, 'sm')) {
        --anchor-offset: #{$indentM};
    }
}
